@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



:root {
    --header-height: 3.5rem;
    /*========== Colors ==========*/
    --first-color: hsl(209, 80%, 50%);
    --first-color-alt: hsl(209, 91%, 34%);
    --title-color: hsl(355, 4%, 15%);
    --text-color: hsl(355, 4%, 35%);
    --text-color-light: hsl(355, 4%, 55%);
    --body-color: #E5E7EB;
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Inter', sans-serif;
    --secondary-font: "Quicksand_reg", sans-serif;
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .9em;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
}


/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: .937rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background: #f5f5f5;
}


button, input, a, p {
    font-family: var(--body-font);
}

a {
    text-decoration: none;
}

button, a {
    display: flex;
    align-items: center;
    gap: .5em;
    padding: .5em 1.2em;
    border-radius: 3px;
    transition: .5s all ease;
    border: none;
}


.DieMainContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.left-panel {
    grid-row: span 5 / span 5;
}

.right-panel {
    grid-column: span 4 / span 4;
    grid-row: span 5 / span 5;
}


.left-panel, .right-panel {
    padding: 2em;
}

/* ------- HEADER DESIGN ------------ */
.heads {
    padding: .9rem;
    background: hsl(208, 30%, 11%);
    color: #fff;
    border-bottom: 2px solid #7360ff;
}

.heads_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
}

.heads a {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: hsl(211, 17%, 74%);
    font-size: var(--small-font-size);
}

.heads_action i {
    font-size: var(--smaller-font-size);
    color: hsl(211, 17%, 74%);
    text-decoration: none;
}

.heads_action input {
    background: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    color: hsl(211, 17%, 74%);
    padding: .2em;
}


      /*========== CUSTOM TABLE ==========*/
    .DieMainTable::-webkit-scrollbar, .InspecTable::-webkit-scrollbar {
        width: 8px;
    }
    .DieMainTable::-webkit-scrollbar-thumb, .InspecTable::-webkit-scrollbar-thumb {
        background-color: #ccc;
        border-radius: 4px;
        cursor: pointer;
    }
    .DieMainTable, .InspecTable {
        max-height: 420px; /* adjust height as needed */
        overflow-y: auto;
        margin-top: .2em;
        border: 1px solid #d4d3d3;
        border-radius: .4em .4em 0 0;
    }
        .DieMainTable table, .InspecTable table {
            border-radius: 1em 1em 0 0;
            width: 100%;
            border-collapse: collapse;
        }
    .DieMainTable thead th, .InspecTable thead th {
        position: sticky;
        background: #d4d3d3 !important;
        top: 0;
        font-weight: 600;
        cursor: pointer;
        padding: 1em 0;
        font-size: .8rem;
        background: #fff;
        color: #505050;
    }





     .addformcontainer, .formcontainer { padding: .5em; }


    .formcontainer h5, .addformcontainer h5 {
        font-weight: 500;
        color: #222;
    }

    .formcontainer label, .addformcontainer label {
        font-weight: 500;
        color: #222;
        font-size: var(--small-font-size);
    }

    .formcontainer input, .formcontainer textarea, .addformcontainer input, .addformcontainer textarea, .DieDetails_Container input {
        width: 100%;
        margin: .5em 0 1em 0;
        border: 1px solid #A5A1AA;
        padding: .6em;
        font-size: var(--normal-font-size);
        border-radius: .3em;
    }

    .addformcontainer input[type='radio']{
          width: auto !important;
          margin: 0 !important;
          padding: 0 !important;
    }

    .formcontainer textarea, .addformcontainer textarea {
        width: 100%;
        margin: .5em 0 1em 0;
        border: 1px solid #A5A1AA;
        padding: .6em;
        font-size: var(--normal-font-size);
    }

    .formcontainer input:focus, .formcontainer textarea:focus, .addformcontainer input:focus, .addformcontainer textarea:focus {
        outline: 1px solid var(--primary-color);
    }

     .select-container {
        position: relative;
        display: inline-block;
    }


    .select-container select {
        width: 100%;
        color: #222;
        padding: .5em 3em .5em 1em;
        appearance: none;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background: white;
        font-size: var(--small-font-size);
        position: relative;
        outline: none;
        cursor: pointer;
    }

    .select-container::after {
        content: '▼'; /* Unicode character for a down arrow */
        font-size: var(--normal-font-size);
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        pointer-events: none;
        color: #999;
    }

    .select-container select::-ms-expand {
        display: none; /* Hide the default dropdown arrow in IE */
    }






/* Search Section */
.search-section {
    margin: 24px 0;
}

.search-container {
    display: flex;
    gap: 12px;
}

@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
    }
}

.search-input {
    flex: 1;
}