<!--####################################################################-->
<div class="modal fade modal-m" id="PartnumberSelect" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <table class=" table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Partnumber</th>
                        <th>Partname</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody id="selectpartnumbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--#####################  SHOP ORDER SELECTED DETAILS ###########################-->
<div class="modal fade modal-xl" id="ShopOrderSelect" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <table class=" table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>No #</th>
                        <th>Branch</th>
                        <th>SDP_Order No.</th>
                        <th>SDP_Sales Part no.</th>
                        <th>SDP_Sales</th>
                        <th>Sales Requested Ship date</th>
                        <th>PC1 Latest Proposed Ship Date</th>
                    </tr>
                </thead>
                <tbody id="selectshopOrder">
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--####################################################################-->
<div class="modal fade modal-m" id="DateColumnmodel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <table class=" table-striped">
                <thead class="thead-dark">
                    <tr id="partnumheader">
                    </tr>
                </thead>
                <tbody id="partnumbody">
                </tbody>
            </table>
        </div>
    </div>
</div>