
@{
    ViewBag.Title = "LineData";
    Layout = "~/Areas/Final/Views/Shared/_ManageLayout.cshtml";
}

<section style="padding: 30px 20px;">
    <!-- MAIN PANEL -->
    <!-- header section -->
    <div class="headerManage  flex justify-between items-center mb-6">
        <div class="flex items-center gap-lg-3">
            <div>
                <h2 class="font-semibold mb-1" style="font-size: 22px;">Final Assembly Data</h2>
                <p class="text-sm" style="color:#86868b;">Current Data of the Final Assembly </p>
            </div>

            <!-- filters bar -->
            <div class="flex items-center gap-3 mb-4 flex-wrap">



            </div>
        </div>
        <div class="flex gap-3">
            <select id="filterdata" class=" filter-chip text-sm font-medium">
                <option value="">Line : ALL</option>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
                <option value="L5">L5</option>
                <option value="L6">L6</option>
                <option value="L7">L7</option>
                <option value="L8">L8</option>
                <option value="L9">L9</option>
                <option value="L10">L10</option>
                <option value="L11">L11</option>
                <option value="L12">L12</option>
                <option value="L13">L13</option>
                <option value="L14">L14</option>
                <option value="L15">L15</option>
                <option value="L16">L16</option>
                <option value="L17">L17</option>
                <option value="L18">L18</option>
                <option value="L19">L19</option>
                <option value="L20">L20</option>
                <option value="CL1">CL1</option>
                <option value="CL5">Cl5</option>
                <option value="CL8">Cl8</option>
                <option value="OP">OP</option>
            </select>
            
            <div class="search-input">
                <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <circle cx="11" cy="11" r="8" />
                    <path d="m21 21-4.34-4.34" />
                </svg>
                <input type="text" placeholder="Search here ..." id="searchinput" />
            </div>
        </div>
    </div>

    @*<span id="selectedCount">0 selected</span>

        <a href="#" id="clearSelectionBtn"
           style="color: var(--color-primary); text-decoration: none;">
            Clear selection
        </a>*@


<div class="devices-table-wrapper">
        <div class="devices-table-wrapper">
            <div class="table-scroll TrackTable">
                <table class="upload-table">
                    <thead>
                        <tr>
                            <th>Line</th>
                            <th>Final Shop Order/ Partno / Model</th>
                            <th>QTY</th>
                            <th>Plan Start</th>
                            <th>Dispatch</th>
                            <th>Note</th>
                            <th>IFS Finish Date</th>
                            <th>FA Status</th>
                            <th>Shipment</th>
                            <th>Mode</th>
                            <th>WITH SR</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    <!-- pagination footer -->
        <div class="flex justify-between items-center p-3 border-t" style="border-top: 1px solid #e5e5e5; background: white;">
            <div id="resultsText" class="text-sm" style="color:#86868b;">Showing <span id="newrecords"></span> of <span id="currentrecords">1,248</span> Records</div>
    
            @*<div class="flex gap-1">
                <button class="pagination-btn" id="prevBtn"><iconify-icon icon="lucide:chevron-left" style="font-size: 14px;"></iconify-icon></button>

                <button class="pagination-btn" id="nextBtn"><iconify-icon icon="lucide:chevron-right" style="font-size: 14px;"></iconify-icon></button>
            </div>*@
        </div>
</div>
</section>







<script type="module" asp-append-version="true">
    import {
        getMethod,
        postMethod
    } from '@Url.Content("~/Scripts/modules/index.js")';

  class FinaAssemblyController {
    constructor() {
        this.selectedID = 0;
        this.selectedLine = "";
        this.currentPage = 1;
        this.pageSize = 100;
        this.isFirstLoad = true;

        this.tbody = document.querySelector('.upload-table tbody');
        this.searchinput = document.getElementById('searchinput');
        this.filterStatus = document.getElementById('filterdata');


        this.newRecords = document.getElementById("newrecords");
        this.currentRecords = document.getElementById("currentrecords");
    }

    async init() {
        this.bindEvents();
        //this.enableHorizontalDragScroll();
        await this.LoadLineShopOrderList();
    }

      bindEvents() {

        // Search + filter debounce
        let debounceTimer;
        const debounced = () => {
            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(() => this.LoadLineShopOrderList(), 300);
        };
        this.searchinput.addEventListener('input', debounced);
        this.filterStatus.addEventListener('change', debounced);
      }


      enableHorizontalDragScroll() {

          const container = document.querySelector(".TrackTable");

          if (!container) return;

          let isDown = false;
          let startX;
          let scrollLeft;

          container.addEventListener("mousedown", (e) => {

              // Ignore buttons, inputs, selects, links
              if (
                  e.target.closest("button") ||
                  e.target.closest("input") ||
                  e.target.closest("select") ||
                  e.target.closest("a")
              ) {
                  return;
              }

              isDown = true;
              startX = e.pageX;
              scrollLeft = container.scrollLeft;

              container.classList.add("dragging");
              container.style.cursor = "grabbing";
          });

          document.addEventListener("mouseup", () => {
              isDown = false;
              container.classList.remove("dragging");
              container.style.cursor = "grab";
          });

          container.addEventListener("mousemove", (e) => {

              if (!isDown) return;

              e.preventDefault();

              const walk = (e.pageX - startX) * 2;

              container.scrollLeft = scrollLeft - walk;
          });

          container.style.cursor = "grab";
      }


      async LoadLineShopOrderList() {

        try {
                if (this.isFirstLoad) {
                    this.showTableSkeleton();
                    await new Promise(resolve => requestAnimationFrame(resolve));
                    this.isFirstLoad = false;
                }

                const res = await getMethod('@Url.Action("LineShopOrderData", "Assembly")', {
                    Linename: document.getElementById('filterdata').value,
                    searchtext: document.getElementById('searchinput').value,
                    orderstatus: 0
                });

                console.log(res);
            if (!res?.Success) {
                this.tbody.innerHTML = `
                 <tr>
                     <td colspan="12" style="text-align:center;color:red;">
                         Failed to load data.
                     </td>
                 </tr>`;
                return;
            };

                const total = res.data.Total;
                this.updateRecordCount(total, total);

                if (total != 0) {
                    this.renderTable(res.data.payload);
                    //this.renderPagination(total ?? res.data.payload.length);
                } else {
                    this.tbody.innerHTML = `
                         <tr>
                             <td colspan="12" style="text-align:center;color:red;">
                                 Failed to load data.
                             </td>
                         </tr>`;
                }

            } catch (error) {
                console.error('Error fetching data:', error);

                this.tbody.innerHTML = `
                <tr>
                    <td colspan="12" style="text-align:center;color:red;">
                        Failed to load data.
                    </td>
                </tr>`;
            }
    }

    updateRecordCount(filteredCount, totalCount) {
        this.newRecords.textContent = filteredCount.toLocaleString();
        this.currentRecords.textContent = totalCount.toLocaleString();
    }
    renderTable(data) {
        if (!this.tbody) return;
            if (data.length === 0) {
                this.tbody.innerHTML = `
                <tr>
                    <td colspan="12" style="text-align:center; padding:32px; color:#86868b;">
                        No data available.
                    </td>
                </tr>`;
                return;
            }

          this.tbody.innerHTML = data.map(row => {
                return `
              <tr  class='fade-in'  data-order-line="${row.Line}"   >
                        <td>${row.Line}</td>
                        <td style='text-align: left;'>
                            <span class="text-primary font-medium">${row.FinalShopOrder}</span>
                            <p style="margin:.2em 0;color:#8a8f9e;">${row.ItemNo}</p>
                             <span
                                class="model-text"
                                title="${row.Model}">
                                ${row.Model}
                            </span>
                        </td>

                        <td>${row.PlanQty}</td>
                        <td>${this.formatDate(row.PlanStartDate)}</td>
                        <td>${row.DispatchDate}</td>
                        <td>${row.Note || ''}</td>
                        <td>${this.formatDate(row.FinalFinishedDate)}</td>
                        <td class="status-column">${row.FAStatus || ''}</td>
                        <td>${this.formatDate(row.ShipmentDate)}</td>
                        <td>${row.ShipmentMode || ''}</td>
                        <td>${row.WithSR ? 'With SR': ''}</td>
                </tr>`

            }).join('');
     }

    showTableSkeleton() {
          this.tbody.innerHTML = Array(10).fill(`
        <tr>
            ${Array(18).fill(`
                <td>
                    <div class="skeleton-cell"></div>
                </td>
            `).join('')}
        </tr>
        `).join('');
    }


      showLoader() {
          document.getElementById('loadingOverlay')
              ?.classList.add('show');
      }

      hideLoader() {
          document.getElementById('loadingOverlay')
              ?.classList.remove('show');
      }

     formatDate(dateString) {
            if (!dateString) return '';

            const timestamp = parseInt(dateString.match(/\d+/)[0]);
            const date = new Date(timestamp);

            return date.toLocaleDateString('en-US');
        }

    
}

    document.addEventListener('DOMContentLoaded', function () {
        const controller = new FinaAssemblyController();
        controller.init();
    });
</script>