
@{
    Layout = "~/Areas/Final/Views/Shared/_ManageLayout.cshtml";
    var strLine = Request.QueryString["line"];
}


<input type="hidden" id="strLine" value="@strLine" />



<div class="page-header">
    <div class="breadcrumb-card">
        <a href="#" id="navdata" class="breadcrumb-link">
            <iconify-icon icon="lucide:house" width="16"></iconify-icon>
            Manage Data
        </a>


    </div>
    <div class="action-buttons">
        <div class="search-input">
            <svg width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor"><circle cx="11" cy="11" r="8" /><path d="m21 21-4.34-4.34" /></svg>
            <span>Search here ....</span>
        </div>

        <select id="filterdata" class=" filter-chip text-sm font-medium">
            <option value="UPDATED">All</option>
            <option value="UPDATED">Complete</option>
            <option value="SAME">In Process</option>
            <option value="SAME">Next Process</option>
        </select>

    </div>
</div>





<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th>Status</th>
                <th>Final Shop Order/ Partno / Model</th>
                <th>PCB</th>
                <th>IMP</th>
                <th>LW</th>
                <th>MF</th>
                <th>FP</th>
                <th>FA</th>
                <th>WC</th>
                <th>QTY</th>
                <th>Plan Start</th>
                <th>Dispatch</th>
                <th>Note</th>
                <th>IFS Finish Date</th>
                <th>FA Status</th>
                <th>Shipment</th>
                <th>Mode</th>
                <th>WITH SR</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>






navdata






<script type="module" asp-append-version="true">
    import {
        getMethod,
        postMethod
    } from '@Url.Content("~/Scripts/modules/index.js")';

    class ShopOrderListController {
        constructor() {
            this.tbody = document.querySelector('.data-table tbody');
            this.strLine = document.getElementById('strLine').value;
            this.currentPage = 1;
            this.pageSize = 10;
            this.totalPages = 0;
            this.totalRecords = 0;
        }

        async init() {
            this.bindEvents();
            await this.LoadLineShopOrderList();
        }

        bindEvents() {
                // First column button click
                this.tbody.addEventListener('click', async (e) => {

                    const badge = e.target.closest('button.selectedbadge');
                    if (!badge) return;

                    e.stopPropagation();

                    const row = badge.closest('tr');
                    const id = parseInt(row.dataset.id);
                    const orderStatus = parseInt(row.dataset.orderStatus);

                    if (orderStatus === 2 || orderStatus === 3) return;

                    const success = await this.updateOrderStatus(id, orderStatus);
                    if (!success) return;

                    row.dataset.orderStatus = '2';
                    badge.className = 'selectedbadge selectedProcess';
                    row.classList.add('bg-row-highlight');
                });

                // Row click navigation
                this.tbody.addEventListener('click', (e) => {

                    // Ignore clicks on first column button
                    if (e.target.closest('button.selectedbadge')) {
                        return;
                    }

                    const row = e.target.closest('tr');
                    if (!row) return;

                    const id = row.dataset.id;

                    window.location.href =
                        `@Url.Action("ShopOrderDetails", "Assembly")?id=${id}`;
                });
        }

        async LoadLineShopOrderList() {
            try {
                const res = await getMethod('@Url.Action("LineShopOrderData", "Assembly")', {
                    Linename: this.strLine
                });
                console.log(res);
                if (!res?.Success) return;

                this.renderTable(res.data);

            } catch (error) {
                console.error('Error fetching data:', error);
            }
        }

        renderTable(data) {
            if (!this.tbody) return;

            if (data.length === 0) {
                this.tbody.innerHTML = `
                <tr>
                    <td colspan="15" style="text-align:center; padding:32px; color:#86868b;">
                        No data available.
                    </td>
                </tr>`;
                return;
            }

            this.tbody.innerHTML = data.map(row => {
                let circuit = row.Circuit ? '<span class="sectionbadge badge-circuit">CE</span>' : '-';
                let rotor = row.Rotor ? '<span class="sectionbadge badge-rotor">BF</span>' : '-';
                let molding = row.Molding ? '<span class="sectionbadge badge-molding">AG</span>' : '-';
                let press = row.Press ? '<span class="sectionbadge badge-press">AF</span>' : '-';
                let winding = row.Winding ? '<span class="sectionbadge badge-winding">FG</span>' : '-';
                let final = row.final ? '<span class="sectionbadge badge-final">HD</span>' : '-';

                const orderStatus = parseInt(row.OrderStatus);
                let highlighted = row.OrderStatus == 2 ? 'bg-row-highlight' : '';

                let selecthighlight = '';

                switch (orderStatus) {
                    case 2:
                        selecthighlight = 'selectedProcess'
                        break;
                    case 1:
                        selecthighlight = 'selectedNext'
                        break;
                    case 3:
                        selecthighlight = 'selectedDone'
                        break;
                    default:
                        selecthighlight = ''
                        break;
                }
                return `
              <tr class='${highlighted}' data-order-status="${orderStatus}" data-id="${row.RecordID}">
                     <td><button class="selectedbadge ${selecthighlight}" ${row.OrderStatus === 2 || row.OrderStatus === 3 ? 'disabled' : ''}></button></td>
                      <td>
                        <span class="text-primary font-medium">${row.FinalShopOrder}</span>
                        <p>${row.ItemNo}</p>
                        <span >${row.Model}</span>
                      </td>
                      <td>${circuit}</td>
                      <td>${rotor}</td>
                      <td>${winding}</td>
                      <td>${molding}</td>
                      <td>${press}</td>
                      <td>${final}</td>
                      <td>${row.WC}</td>
                      <td>${row.PlanQty}</td>
                        <td>${this.formatDate(row.PlanStartDate)}</td>
                        <td>${this.formatDate(row.DispatchDate)}</td>
                        <td>${row.Note || ''}</td>
                        <td>${this.formatDate(row.FinalFinishedDate)}</td>
                        <td>${row.FAStatus || ''}</td>
                        <td>${this.formatDate(row.ShipmentDate)}</td>
                        <td>${row.ShipmentMode || ''}</td>
                        <td>${row.WithSR || ''}</td>
                </tr>`

            }).join('');
        }

        formatDate(dateString) {
            if (!dateString) return '';

            const timestamp = parseInt(dateString.match(/\d+/)[0]);
            const date = new Date(timestamp);

            return date.toLocaleDateString('en-US');
        }


        async updateOrderStatus(id, orderstatus) {
             try {

                 const res = await postMethod('@Url.Action("UpdateStatusLine", "Assembly")', {
                     recordID : id,
                     orderstats: orderstatus
                 });
                  console.log(res);

                  //if (res.Success) {
                  //    await this.LoadLineShopOrderList();
                  //}

             } catch (err) {
                  console.error(err);
             }
        }

    }

    document.addEventListener('DOMContentLoaded', function () {
        const controller = new ShopOrderListController();
        controller.init();
    });
</script>
