
    @font-face {
        font-family: 'Poppins';
        src: url('fonts/Poppins-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    :root {
        --text-color: hsl(355, 4%, 35%);
        --text-color-light: hsl(355, 4%, 55%);
        --container-color: #fff;
        /*========== Font and typography ==========*/
        --body-font: 'Poppins', sans-serif;
        --second-font: 'Poppins', sans-serif;
        --button-font: 'Poppins', sans-serif;
        --biggest-font-size: 1.5rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: 0.938rem;
        --small-font-size: 0.813rem;
        --smaller-font-size: 0.75rem;
        --table-Data-size: 0.875rem;
        /*========== Font weight ==========*/
        --font-medium: 500;
        --font-semi-bold: 600;
        /*========== z index ==========*/
        --z-fixed: 100;
    }

    @media screen and (min-width: 968px) {
        :root {
            --biggest-font-size: 2.5rem;
            --h1-font-size: 2.25rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: .875rem;
            --smaller-font-size: .813rem;


            --table-Data-size: 0.875rem;
        }
    }

     @media screen and (min-width: 1440px) {
        :root {
            --table-Data-size: .938rem;
        }
     }

   

    /*=============== BASE ===============*/
    *, ::before, ::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    html:focus-within {  scroll-behavior: smooth; }

    body{
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
        scroll-behavior: smooth;
        text-rendering: optimizeSpeed;
        font-size: 62.5%;
    }

    body,
    button,
    input, 
    select {
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        color: var(--text-color);
         /* line-height: 1.5;*/
    }

    /* For table rows and data cells */
     table th {
        font-size: 0.8rem !important; 
    }

    table td {
        font-size: var(--table-Data-size) !important;
    }

    a { text-decoration: none; }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

     body,
    h1,
    h2,
    h3,
    h4,
    p,
    ul[class],
    ol[class],
    li,
    figure,
    figcaption,
    blockquote,
    dl,
    dd {
        margin: 0;
    }

    ol,
    ul {
        list-style: none;
    }

    h1, h2, h3, h4 {
        font-weight: var(--font-semi-bold);
        margin: 0;
    }

    p, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word;
    }
    /* Improve media defaults */
   img, picture, video, canvas, svg {
        display: block;
        max-width: 100%;
    }


    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border: none;
        cursor: pointer;
        outline: none;
        border-radius: .2em;
        padding: .5em 1em;
        transition: .5s ease-in-out;
    }
 
    input {
        background-color: transparent;
        border: none;
        outline: none;
    }

    /*=============== TABLE COMMON ================*/
    table {
        width: 100%;
        border-collapse: collapse;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        text-align: center;
    }

    table th {
        font-weight: 400;
        cursor: pointer;
        padding: 1em 0;
        font-size: var(--small-font-size);
    }

    table tbody {
        background: #fff;
    }

    table th i {
        font-size: .8rem;
    }

    table td {
        cursor: pointer;
        font-size: var(--small-font-size);
        border-top: 1px solid #dcdce2;
    }

    table tbody tr:hover {
        background: #e5e5e6;
    }

 /*=============== FLEX DISPLAY  ===============*/
    .flex_align {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .flex_center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .flex_space {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .flex_start {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .flex_end {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .flex_around {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    fieldset {
        position: relative;
        border: 1px solid #ccc; /* or any color you prefer */
        padding: 20px 20px 10px  20px;
        margin: 10px 0 15px;
    }

    legend {
        position: absolute;
        top: -10px;
        left: 10px;
        padding: 0 5px;
        font-weight: bold;  
        /* Important: prevent collapsing width */
        display: inline-block;
        background: #fff;
        white-space: nowrap;

         /* prevent full width */
        width: auto;
    }




























