<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="config:key" value="1234567890123456" />
		<add key="config:iv" value="6543210987654321" />

		<add key="config:JwtKey" value="YourSuperSecureKeyForAccessToken" />
		<add key="config:JwtRefreshkey" value="YourSuperSecureKeyForRefreshToken" />
		<add key="config:JwtExpireDays" value="30" />
		<add key="config:JwtIssuer" value="http://p1saportalweb.sdp.com/" />
		<add key="config:JwtAudience" value="SecureApplicationUser" />
	</appSettings>
		
	<connectionStrings>
		<add name="LiveDevelopment" connectionString="Data Source=172.29.3.139;Initial Catalog=PRODCONF;Persist Security Info=True;User ID=p1sa;Password=p1sa1234a*" providerName="System.Data.SqlClient" />
		<add name="live_connectv2" connectionString="Data Source=SDP0706ES;Initial Catalog=PMACS_TEST;Persist Security Info=True;User ID=p1sa;Password=p1sa1234a*" providerName="System.Data.SqlClient" />
		<add name="Myconnect" connectionString="Data Source=DESKTOP-FC0UP1P;Initial Catalog=Partslocator;Persist Security Info=True;User ID=PCsystem;Password=p1saprocess" providerName="System.Data.SqlClient" />
	
	
	    <add name="LiveDevelopment2" connectionString="c2VydmVyPTE3Mi4yOS4zLjEzOTtVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QUk9EQ09ORjtQb29saW5nPVRydWU7TWluIFBvb2wgU2l6ZT01MDtNYXggUG9vbCBTaXplPTEwMDs=" providerName="System.Data.SqlClient" />
        <add name="TestDevelopment" connectionString="c2VydmVyPVNEUDA3MDZFUztVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QTUFDU19URVNUO1Bvb2xpbmc9VHJ1ZTtNaW4gUG9vbCBTaXplPTUwO01heCBQb29sIFNpemU9MTAwOw==" providerName="System.Data.SqlClient" />
        <add name="HomeDevelopment" connectionString="c2VydmVyPURFU0tUT1AtRkMwVVAxUDtVc2VyIElEPVBDc3lzdGVtO3Bhc3N3b3JkPXAxc2Fwcm9jZXNzO2RhdGFiYXNlPVAxc2E=" providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Packaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>