
@{
    ViewBag.Title = "Cleaning";
    Layout = "~/Areas/Circuit/Views/Shared/_MaskLayout.cshtml";
}


<section class="CleaningContainer">
    <!-- Controls Section -->
    <div class="controls-section">
        <div class="control-group">
            <label class="control-label">
                <i class="fas fa-search"></i> Search Partnumber
            </label>
            <div class="search-box">
                <input type="text" id="searchInput" placeholder="Enter Partnumber ..." autocomplete="off">
            </div>
        </div>




        <div class="control-group">
            <label class="control-label">
                <i class="fas fa-calendar"></i> SMT Line
            </label>
            <select id="SMTLine" class="filter-select">
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">Line @i</option>
                }
            </select>
        </div>
    </div>

    <table>
        <thead>
            <tr>
                <th>Part number</th>
                <th>Area</th>
                <th>SMT </th>
                <th>Shifts </th>
                <th>Blocks</th>
                <th>Model type</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>0055329F</td>
                <td>22</td>
                <td>Line 3</td>
                <td>Dayshift</td>
                <td>12</td>
                <td>FAN</td>
            </tr>

            <tr>
                <td>0055329F</td>
                <td>22</td>
                <td>Line 3</td>
                <td>Dayshift</td>
                <td>12</td>
                <td>FAN</td>
            </tr>

            <tr>
                <td>0055329F</td>
                <td>22</td>
                <td>Line 3</td>
                <td>Dayshift</td>
                <td>12</td>
                <td>FAN</td>
            </tr>
        </tbody>
    </table>

</section>

