
@{
    ViewBag.Title = "SMTLine";
    Layout = "~/Areas/Circuit/Views/Shared/_MaskLayout.cshtml";
}


<div class="SMTGrid_container">
    <div class="SMT_tables">
        <!-- Controls Section -->
        <div class="controls-section">
            <div class="control-group">
                <label class="control-label">
                    <i class="fas fa-search"></i> Search Partnumber
                </label>
                <div class="search-box">
                    <input type="text" id="searchInput" placeholder="Enter Partnumber ..." autocomplete="off">
                </div>
            </div>




            <div class="control-group">
                <label class="control-label">
                    <i class="fas fa-calendar"></i> SMT Line
                </label>
                <select id="SMTLine" class="filter-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>




        </div>

        <hr  style="margin: 0;" />
      
        <section class="Maskcardcontainer mt-3" id="Maskcardcontainer"></section>



    </div>
    <div class="SMT_Timer">
        <div class="StopWatchContainer">
            <div class="StopWatch_header">
                <h6><i class="fas fa-stopwatch"></i> SMT Line Timer</h6>
            </div>
            <div class="StopWatch_Content">
                <div class="Stopwatchgroup">
                    <label>Partnumber </label> <br />
                    <span id="partnumText"> -- N/A -- </span>
                </div>

                <div class="Stopwatchgroup">
                    <label>Area </label> <br />
                    <span id="AreaV2Text"> -- N/A -- </span>
                </div>

                <div class="Stopwatchgroup">
                    <label>Blocks </label> <br />
                    <span id="BlockV2Text"> -- N/A -- </span>
                </div>

                <div class="timercontainer">
                    <div class="flex_align" style="gap:30px;">
                        <div class="timerwatchform">
                            <label><i class="fas fa-play-circle"></i>  Start Time</label>
                            <p id="StartText">--:--</p>
                        </div>

                        <div class="timerwatchform">
                            <label><i class="fas fa-stop-circle"></i> End Time</label>
                            <p id="EndText">--:--</p>
                        </div>


                        <div class="timerwatchform">
                            <label><i class="fas fa-hourglass-half"></i>  Total Time</label>
                            <p id="TotalTimeText">--:--</p>
                        </div>
                    </div>


                    <div class="flex_align TimeAction">
                        <button type="button" id="startbtn"> <i class="fas fa-play"></i>Start </button>
                        <button type="button" id="endbtn">  <i class="fas fa-stop"></i> End </button>
                    </div>
                </div>

                <hr />
                <div class="Stopwatchform">
                    <label>Print Board :</label> <br />
                    <input type="number" id="TotalPrintBoard" placeholder="Enter Total Print Board" /> <br />
                </div>

                <div class="Stopwatchform">
                    <label>Operator name:  </label><br />
                    <input type="text" id="SMT_Operator" placeholder="Enter Operator" />
                </div>

                    

                    <button type="button" id="saveSMT" disabled><i class="fa-regular fa-floppy-disk"></i> Save</button>
                </div>
            </div>
    </div>
</div>








<script>
    let selectedID = 0;
    const activeTimers = [];
    let SMTData = [];
    const startbtn = document.getElementById("startbtn");
    const endbtn = document.getElementById("endbtn");
    const saveSMT = document.getElementById("saveSMT");
    let selectedTimer = null;




    saveSMT.addEventListener('click', async function (e) {
          e.preventDefault();


          let formdata = new FormData();
          formdata.append('TotalPrintBoard', $("#TotalPrintBoard").val());
          formdata.append('SMT_Operator', $("#SMT_Operator").val());
          formdata.append('RecordID', selectedID);

          let res = await postData('@Url.Action("FinalSubmitSMTLineinfo", "MetalMask")', formdata);
          if (res?.Success) {
              GetMetalMaskTransaction();
              GetTheTotalCount();

              $("#partnumText").text("-- N/A --");
              $("#AreaV2Text").text("-- N/A --");
              $("#BlockV2Text").text("-- N/A --");
              $("#StartText").text("--:--");
              $("#EndText").text("--:--");
              $("#TotalTimeText").text("--:--");
              $("#TotalPrintBoard").val("");
              $("#SMT_Operator").val("");
          }

     });


    startbtn.addEventListener('click', async function (e) {
        e.preventDefault();

         let formdata = new FormData();
         formdata.append('ID', selectedID);

         let res = await postData('@Url.Action("StartSMTOperation", "MetalMask")', formdata);
         if (res?.Success) {
            $("#startbtn").prop("disabled", false);
            $("#endbtn").prop("disabled", true);

             // ▶ Set start time
             const startTime = timeNow();
             $("#StartText").text(startTime);
             $("#EndText").text("--:--");
             $("#TotalTimeText").text("00:00");


             // ❌ Stop old timer
             if (selectedTimer) clearInterval(selectedTimer);

             // ▶ Start stopwatch immediately
             const startDate = new Date();
             startDate.setSeconds(0, 0);

             selectedTimer = setInterval(() => {
                 const now = new Date();
                 let diffMin = Math.floor((now - startDate) / 60000);
                 if (diffMin < 0) diffMin = 0;

                 $("#TotalTimeText").text(formatDuration(diffMin));
             }, 1000);


             GetMetalMaskTransaction();


         }

    });

    endbtn.addEventListener('click', async function (e) {
        e.preventDefault();
         let formdata = new FormData();
         formdata.append('ID', selectedID);
        $("#startbtn").prop("disabled", true);
        $("#endbtn").prop("disabled", true);
        GetMetalMaskTransaction();
         let res = await postData('@Url.Action("EndSMTOperation", "MetalMask")', formdata);
         if (res?.Success) {
             GetMetalMaskTransaction();
             $('#TotalPrintBoard').focus();

             $("#EndText").text(timeNow());
         }
    });

    $("#SMT_Operator").on('keyup', function () {
        let textType = $(this).val().trim();

        if (textType === "" && selectedID === 0) {
            $("#saveSMT").prop("disabled", false);

        } else {
            $("#saveSMT").prop("disabled", true);
        }

    });

    const GetMetalMaskTransaction = async () => {
        // STOP old timers
        activeTimers.forEach(clearInterval);
        activeTimers.length = 0;


         let res = await fetchData('@Url.Action("GetMetalMaskInformation", "MetalMask")', { Stats: 1 });
         $("#Maskcardcontainer").empty();

        if (res?.Success) {

             let TableData = res.Data;
             SMTData = TableData;
             let html = "";

             res.Data.forEach(rowData => {

                 html += `<div class="Maskcard" data-id="${rowData.RecordID}">
                        <div class="MaskHeader">
                            <h5>Metal mask rev partnum : <span>${rowData.Partnumber}</span></h5>
                        </div>

                        <div class="MaskContent">
                            <div><label>SMT Line</label><p>${rowData.SMTLine}</p></div>
                            <div><label>Area</label><p>${rowData.AREA}</p></div>
                            <div><label>Shift</label><p>${rowData.Shift != false ? "DS" : "NS"}</p></div>
                            <div><label>Blocks</label><p>${rowData.Blocks}</p></div>
                        </div>

                        <div class="MaskContent">
                            <div>
                                <label>Start Time</label>
                                 <p>${rowData.SMT_start === "00:00" ? "--:--" : rowData.SMT_start}</p>
                            </div>

                            <div>
                                <label>End Time</label>
                               <p>${rowData.SMT_end === "00:00" ? "--:--" : rowData.SMT_end}</p>
                            </div>

                            <div>
                                <label>Total Time</label>
                                  <p class="total-time">${rowData.TotalTimeHHMM}</p>
                            </div>
                        </div>
                    </div>`;
            });

            $("#Maskcardcontainer").append(html);



            /* ============================
                  START REALTIME TIMERS
               ============================ */

            document.querySelectorAll(".Maskcard").forEach((card, i) => {

                const row = res.Data[i];

                // Only run if still active
                if (row.SMT_end !== "00:00") return;
                const changeDate = formatJsonDate(row.DateInput);
                const startDate = parseTime(changeDate, row.SMT_start);
                const timer = startRealtimeTimer(card, changeDate, row.SMT_start);

                activeTimers.push(timer);
            });


         }
    };

    /* ============================
         CLICK HANDLER
        ============================ */


    document.addEventListener("click", e => {
        const card = e.target.closest(".Maskcard");
        if (!card) return;
        $("#startbtn").prop("disabled", false);
        $("#endbtn").prop("disabled", false);

        selectedID = card.dataset.id;
        let filterData = SMTData.find(res => res.RecordID == selectedID);
        console.log(filterData);

        // ❌ stop previous stopwatch
        if (selectedTimer) clearInterval(selectedTimer);

        if (filterData) {
            $("#partnumText").text(filterData.Partnumber);
            $("#AreaV2Text").text(filterData.AREA);
            $("#BlockV2Text").text(filterData.Blocks);
            $("#StartText").text(filterData.SMT_start === "00:00" ? "--:--" : filterData.SMT_start);
            $("#EndText").text(filterData.SMT_end === "00:00" ? "--:--" : filterData.SMT_end);
            $("#TotalTimeText").text(filterData.TotalTimeHHMM === "00:00" ? "--:--" : filterData.TotalTimeHHMM);

            if (filterData.SMT_start !== "00:00" && filterData.SMT_end === "00:00") {
                $("#startbtn").prop("disabled", true);
                $("#endbtn").prop("disabled", false);

                startSelectedStopwatch(formatJsonDate(filterData.DateInput), filterData.SMT_start);

                return;
            }


            if (filterData.TotalTimeHHMM !== "00:00") {
                $("#startbtn").prop("disabled", true);
                $("#endbtn").prop("disabled", true);
                $('#TotalPrintBoard').focus();
                return;
            }
        }
    });

    $("#startbtn").prop("disabled", true);
    $("#endbtn").prop("disabled", true);

    GetMetalMaskTransaction();



    /* ============================
     HELPERS
  ============================ */
    function buildStartDate(dateInput, smtStart) {
        const d = new Date(dateInput);
        const [h, m] = smtStart.split(":").map(Number);

        return new Date(
            d.getFullYear(),
            d.getMonth(),
            d.getDate(),
            h,
            m,
            0
        );
    }

    function timeNow() {
        const now = new Date();
        const hh = String(now.getHours()).padStart(2, '0');
        const mm = String(now.getMinutes()).padStart(2, '0');

        const time = `${hh}:${mm}`;
        console.log(time);

        return time;
    }

    function parseTime(dateInput, timeStr) {
        const d = new Date(dateInput);
        const [h, m] = timeStr.split(":").map(Number);

        return new Date(
            d.getFullYear(),
            d.getMonth(),
            d.getDate(),
            h,
            m,
            0
        );
    }

    function formatDuration(minutes) {
        const h = Math.floor(minutes / 60);
        const m = minutes % 60;
        return `${String(h).padStart(2, '0')}:${String(m).padStart(2, '0')}`;
    }

    /* ============================
       REALTIME TIMER
    ============================ */

    function startRealtimeTimer(cardEl, dateInput, smtStart) {

        const startDate = buildStartDate(dateInput, smtStart);

        console.log("StartDate:", startDate);

        function update() {
            const now = new Date();
            let diffMin = Math.floor((now - startDate) / 60000);

            // Safety guard
            if (diffMin < 0) diffMin = 0;

            cardEl.querySelector(".total-time")
                .textContent = formatDuration(diffMin);
        }

        update();
        return setInterval(update, 1000);
    }


    function startSelectedStopwatch(dateInput, smtStart) {

        // stop old timer
        if (selectedTimer) clearInterval(selectedTimer);

        const startDate = buildStartDate(dateInput, smtStart);

        function update() {
            const now = new Date();
            let diffMin = Math.floor((now - startDate) / 60000);
            if (diffMin < 0) diffMin = 0;

            const formatted = formatDuration(diffMin);
            $("#TotalTimeText").text(formatted);
        }

        update();
        selectedTimer = setInterval(update, 1000);
    }

</script>