<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8 Weeks progress Monitoring </title>
    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/Shared/Global.js"></script>

    <script src="~/Scripts/Shared/bootstrap.bundle.min.js"></script>
    <link href="~/Content/Shared/bootstrap.min.css" rel="stylesheet" />

    @Styles.Render("~/Content/planning-css")

    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="Planmainwrapper">
        @RenderBody()
    </div>

    <script src="~/Scripts/Shared/Global.js"></script>

</body>
</html>
