
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/PC/Views/Shared/_PatrolLayout.cshtml";
}

<div class="Dashboard">
    <div class="Calendar">
        <div id="calendar"></div>
    </div>
    <div class="Schedule">
        <div class="ScheduleToday mb-4">
            <h6>Schedule this Week</h6>
            <div class="Schedule_listContainer" id="Schedule_contain">
               
            </div>
        </div>

        @*<div class="ScheduleNext">
            <p>Next Schedule</p>
            <div class="ScheduleNext_listContainer" id="ScheduleNext_contain">
                <div class="ScheduleNext_listContent">

                </div>
            </div>
        </div>*@
    </div>
</div>





<script src="~/Scripts/fullcalendar@6.1.17/index.global.min.js"></script>
<script type="text/javascript">
    let Sched = [];


    const CalendarData = async () => {
        var SetData = $("#Schedule_contain");
        let res = await FetchAuthenticate('@Url.Action("GetScheduleDateList", "Patrol")', {});
        if (res && res.Success) {
            Sched = res.Data;
            $.each(Sched, function (index, res) {
                const card = `
                     <div class="Schedule_listContent">
                          <div >
                             <h5 style='margin: 0;'>${res.FullName}</h5>
                             <small>${res.SectionName}</small>
                          </div>

                          <div style="text-align: right">
                              <small><i class="fa-regular fa-calendar-days"></i> ${res.ScheduleDate}</small>
                              <p>${res.ProcessName}</p>
                          </div>
                     </div>`;
                SetData.append(card);
            });
        } else {
            SetData.html("<p>No Patrol Schedule today.</p>");
        }
    }

    const NextCalendarData = async () => {
        var SetData = $("#Schedule_contain");
        let res = await FetchAuthenticate('@Url.Action("GetScheduleDateList", "Patrol")', {});
        if (res && res.Success) {
            Sched = res.Data;

            $.each(Sched, function (index, res) {

                const card = `
                     <div class="Schedule_listContent">
                          <h5 class='m-0'><i class="fa-solid fa-user-secret"></i> ${res.FullName}</h5>
                          <p>${res.ProcessName}</p>
                     </div>`;
                SetData.append(card);
            });
        } else {
            SetData.html("<p>No Patrol Schedule today.</p>");
        }
    }





    // Initialize Calendar (example with FullCalendar)
    document.addEventListener('DOMContentLoaded', function () {
        const today = new Date();
        const year = today.getFullYear();
        const month = String(today.getMonth() + 1).padStart(2, '0');
        const day = String(today.getDate()).padStart(2, '0');
        const formattedDate = `${year}-${month}-${day}`;






        const calendarEl = document.getElementById('calendar');
        //headerToolbar: {
        //    left: 'prev,next today',
        //        center: 'title',
        //            right: 'dayGridMonth,listWeek'
        //},
        window.calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true,
            height: 'auto',
            headerToolbar: {
                left: 'title',
                center: '',
                right: 'dayGridMonth,listWeek'
            },
            events: function (fetchInfo, successCallback, failureCallback) {
                 FetchAuthenticate('@Url.Action("GetCalendarEventsMonth", "Patrol")', {})
                     .then(res => {
                         let data = res.Data;
                         const events = data.map(item => ({
                             title: item.Fullname + ' - ' + item.title, 
                             start: item.start,
                             extendedProps: {
                                 fullName: item.Fullname
                             }
                         }));
                        successCallback(events);
                })
                .catch(error => {
                    console.error('Error fetching calendar events:', error);
                    failureCallback(error);
                });
            }, // Start empty

            dayCellDidMount: function (info) {
                const today = new Date();

                // Start of week: Sunday
                const startOfWeek = new Date(today);
                startOfWeek.setDate(today.getDate() - today.getDay()); // Sunday
                startOfWeek.setHours(0, 0, 0, 0);

                // End of week: Saturday
                const endOfWeek = new Date(startOfWeek);
                endOfWeek.setDate(startOfWeek.getDate() + 6);
                endOfWeek.setHours(0, 0, 0, 0);

                // Compare each calendar cell
                const cellDate = new Date(info.date);
                cellDate.setHours(0, 0, 0, 0);

                if (cellDate >= startOfWeek && cellDate <= endOfWeek) {
                    info.el.style.backgroundColor = '#0eaa7b33';
                    info.el.style.color = 'white';
                }
            },

            dateClick: function (info) {

            },

            eventClick: function (info) {

            },
            eventDidMount: function (info) {
                // Set native tooltip
                info.el.setAttribute('title', `${info.event.extendedProps.fullName} `);
            }
        });

        calendar.render();
    });


    CalendarData();
</script>