
@{
    ViewBag.Title = "Production Patrol Inspection Report System";
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @*<link href="~/Content/css/loginlayout.css" rel="stylesheet" />*@
    <link href="~/Content/css/PatrolLayout.min.css" rel="stylesheet" />
    <link rel="preload" href="~/Content/fonts/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="~/Content/Images/ready-stock.ico">
    <script src="~/Content/font-awesome/js/all.min.js"></script>
</head>



<div class="PatrolDesign">
    <div class="PatrolDesign_wrapper" id="logshow">
        <form id="logincredentials">
            <h3>Production Patrol Inspection Report System</h3>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off" required />
            </div>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="new-password" required />
            </div>
            <p class="forgetbtn">Forgot Password ?</p>

            <div class="buttoncenter">
                <button type="submit" id="loginbtn" class="primarybtn"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
            </div>
        </form>
        <p class="selectreg" id="forgetbtn">Doesnt have an Account ?</p>
    </div>

    <div class="PatrolDesign_wrapper" id="forgeshow">
        <form id="Registerform">
            <h3>Register  Account</h3>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-id-card"></i>
                <input type="text" name="Employee_ID" id="Employee_ID" placeholder="Enter Employee ID" autocomplete="off" required />
            </div>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-id-card"></i>
                <input type="text" name="FullName" id="FullName" placeholder="Enter Full Name" autocomplete="off" required />
            </div>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="RegUsername" id="RegUsername" placeholder="Enter Username" autocomplete="off" required />
            </div>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="password" name="RegPassword" id="RegPassword" placeholder="Enter Password" autocomplete="off" required />
            </div>

            <div class="PatrolDesign_input">
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="text" name="Email" id="Email" placeholder="Enter Email Address" autocomplete="off" />
            </div>
            <div class="buttoncenter">
                <button type="submit" class="primarybtn"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
            </div>
        </form>
        <p class="selectreg" id="backbtn">Back To Login ?</p>
    </div>
</div>

  <footer class="Copyrights">
      © 2025 P1SA-Process Control All rights reserved.
  </footer>



<script src="~/Scripts/Utilities.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
             const logform = document.getElementById('logincredentials');
             const regform = document.getElementById('Registerform');
             //const changeforms = document.getElementById('changereg');
             const changelogs = document.getElementById('changelogin');
             const forgetlogs = document.getElementById('forgetbtn');
             const backlog = document.getElementById('backbtn');


             //changeforms.addEventListener('click', function (e) {
             //    e.preventDefault();

             //    document.querySelector('.logincontainer').classList.remove('activeforms');
             //    document.querySelector('.Registrationcontainer').classList.add('activeforms');
             //});

             //changelogs.addEventListener('click', function (e) {
             //    e.preventDefault();

             //    document.querySelector('.Registrationcontainer').classList.remove('activeforms');
             //    document.querySelector('.logincontainer').classList.add('activeforms');
             //});

             logform.addEventListener('submit', async (e) => {
                 e.preventDefault();

                 const savebtn = document.querySelector("#loginbtn");
                 savebtn.innerHTML = " <div class='buttonloading'></div>";

                 let formData = new FormData(e.target);
                 formData.append("proj", 9);

                 let res = await postData('/Auth/Authenticate', formData);
                 if (res.StatusCode === 200) {
                     Swal.fire({
                         title: "Success",
                         text: res.Message,
                         icon: "success",
                         showConfirmButton: false,
                         timer: 1500
                     }).then(() => {
                         savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-solid fa-right-to-bracket'></i>  Login</span>"
                         localStorage.setItem('Logout', "/PC/Patrol/index");
                         localStorage.setItem('Userinfo', JSON.stringify(res.Data));
                         localStorage.setItem('Fullname', res.Data.fullname);
                         localStorage.setItem('accessToken', res.Data.access_token);
                         localStorage.setItem('refreshToken', res.Data.refresh_token);
                         window.location.href = "/PC/Patrol/Dashboard";
                     });
                 } else {
                     Swal.fire({
                         icon: "error",
                         text: res.Message,
                         timer: 1500,
                         showConfirmButton: false
                     });

                     savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-solid fa-right-to-bracket'></i>  Login</span>"
                 };

             });

             forgetlogs.addEventListener('click', async (e) => {
                 e.preventDefault();
                 $('#logshow').hide();
                 $('#forgeshow').show();
             });

             backlog.addEventListener('click', async (e) => {
                 e.preventDefault();
                 $('#logshow').show();
                 $('#forgeshow').hide();
             });


             const Initialization = () => {
                 $('#logshow').show();
                 $('#forgeshow').hide();
             }


             regform.addEventListener('submit', async (e) => {
                 e.preventDefault();
                     //const savebtn = document.querySelector("#Regisbtn");
                     //savebtn.innerHTML = " <div class='buttonloading'></div>";

                     let formData = new FormData(e.target);
                     formData.append('ProjectID', 9);
                     const data = Object.fromEntries(formData);
                     let res = await postData('/User/CreateNewUser', formData);
                     if (res.StatusCode === 200) {
                         Swal.fire({
                             title: "Success",
                             text: res.Message,
                             icon: "success",
                             showConfirmButton: false,
                             timer: 1500
                         }).then(() => {
                             $('#logshow').show();
                             $('#forgeshow').hide();    
                             //savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-regular fa-floppy-disk'></i>  Registered</span>"
                             //document.querySelector('.Registrationcontainer').classList.remove('activeforms');
                             //document.querySelector('.logincontainer').classList.add('activeforms');
                         });

                         //savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-regular fa-floppy-disk'></i>  Registered</span>"
                     } else {
                         Swal.fire({
                             icon: "error",
                             text: res.Message,
                             timer: 1500,
                             showConfirmButton: false
                         });
                     }
             });
             Initialization();
</script>
