
@{
    ViewBag.Title = "Production Patrol Inspection Report System";
    Layout = "";
}

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="~/Content/Images/ready-stock.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    <link href="~/Content/css/PatrolLayout.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preload" href="~/Content/fonts/Poppins-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">


    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Utilities.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/Popper.min.js"></script>
    <script src="~/Content/font-awesome/js/all.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>

<div class="PatrolDesign">
    <div class="PatrolDesign_wrapper" id="logshow">
        <form method="post" id="logincredentials">
            <h3>Production Patrol Inspection Report System</h3>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" id="username" placeholder="Enter Username" autocomplete="off" required />
            </div>
            <div class="PatrolDesign_input">
                <i class="fa-solid fa-unlock-keyhole"></i>
                <input type="password" name="password" id="password" placeholder="Enter Password" autocomplete="new-password" required />
            </div>
            <p class="forgetbtn" id="changebtn">Change Password</p>

            <div class="flex_center">
                <button type="submit" id="loginbtn" class="primarybtn"><i class="fa-solid fa-right-to-bracket"></i> Login</button>
            </div>
        </form>
        <p class="selectreg" id="forgetbtn">Doesnt have an Account ?</p>
    </div>
</div>

<footer class="Copyrights">
    © 2025 P1SA-Process Control All rights reserved.
</footer>



@*=================================================================================*@
@*=========================== ADD NEW INSPECTORS ==================================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="AddProductModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Register  Account</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <form method="post" class="addformcontainer" id="addnewform" autocomplete="off">
                    <div class="row">
                        <div class="form_group col-12 col-sm-12 col-lg-6 mb-2">
                            <label>Employee ID </label> <br />
                            <input type="text" name="Employee_ID" id="Employee_ID" placeholder="Enter Employee ID" autocomplete="off" required />
                        </div>
                        <div class="form_group col-12 col-sm-12 col-lg-6 mb-2">
                            <label>Full Name </label> <br />
                            <input type="text" name="FullName" id="FullName" placeholder="Enter Full Name" autocomplete="off" required />
                        </div>
                    </div>
                    <div class="form_group col-12 col-sm-12">
                        <label>Username </label>
                        <input type="text" name="RegUsername" id="RegUsername" placeholder="Enter Username" autocomplete="off" required />
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>Password </label>
                        <input type="password" name="RegPassword" id="RegPassword" placeholder="Enter New Password" autocomplete="off" required />
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>Confirm Password </label>
                        <input type="password" name="RegConfirmPassword" id="RegConfirmPassword" placeholder="Enter the Same  Password" autocomplete="off" required />
                    </div>

                    <div class="form_group col-12 col-sm-12 ">
                        <label>Email Address </label> <br />
                        <input type="text" name="Email" id="Email" placeholder="Enter Email Address" autocomplete="off" />
                    </div>




                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div>
                            <small id="Errormessage">Fill up all the input fields</small>
                        </div>
                        <button type="submit" class="primarybtn"><i class="fa-regular fa-floppy-disk"></i> Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

@*=================================================================================*@
@*====================== CHANGE PASSWORD OR FORGET PASSWORD =======================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="ChangepasswordModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Change Password</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <form method="post" enctype="multipart/form-data" class="addformcontainer" id="changenewform" autocomplete="off">
                    <div class="form_group col-12 col-sm-12">
                        <label>Employee ID </label> <br />
                        <input type="text" name="CEmployee_ID" id="CEmployee_ID" placeholder="Enter Employee ID" autocomplete="off" required />
                    </div>
                    <div class="form_group col-12 col-sm-12">
                        <label>Username </label>
                        <input type="text" name="CUsername" id="CUsername" placeholder="Enter Username" autocomplete="off" required />
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>New Password </label>
                        <input type="password" name="CNewPassword" id="CNewPassword" placeholder="Enter New Password" autocomplete="off" required />
                    </div>

                    <div class="form_group col-12 col-sm-12">
                        <label>Confirm Password </label>
                        <input type="password" name="CConfirm" id="CConfirm" autocomplete="off" placeholder="Enter the same password" required />
                    </div>


                    <div class="d-flex justify-content-between align-items-center mt-4">
                        <div>
                            <small id="ChangeErrormessage">Fill up all the input fields</small>
                        </div>
                        <button type="submit" class="primarybtn"><i class="fa-regular fa-floppy-disk"></i> Submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    const logform = document.getElementById('logincredentials');
    const regform = document.getElementById('addnewform');
    const changeform = document.getElementById('changenewform');


    $("#forgetbtn").on('click', (e) => {
        e.preventDefault();
        regform.reset();
        $("#AddProductModal").modal('show');
    });

    $("#changebtn").on('click', (e) => {
        e.preventDefault();
        changeform.reset();
        $("#ChangepasswordModal").modal('show');
    });


    logform.addEventListener('submit', async (e) => {
        e.preventDefault();
        console.clear();
        const savebtn = document.querySelector("#loginbtn");
        savebtn.innerHTML = " <div class='buttonloading'></div>";

        let formData = new FormData(e.target);
        formData.append("proj", 9);

        const data = Object.fromEntries(formData);
        let res = await postrawData('/Auth/Authenticate', data);

        if (res && res.StatusCode === 200) {
            Swal.fire({
                title: "Success",
                text: res.Message,
                icon: "success",
                showConfirmButton: false,
                timer: 1500
            }).then(() => {
                savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-solid fa-right-to-bracket'></i>  Login</span>"
                localStorage.setItem('Logout', "/PC/Patrol/index");
                // For Info of the user
                localStorage.setItem('UserRole', res.Data.role);
                localStorage.setItem('Fullname', res.Data.fullname);

                // For Authorize User Access
                localStorage.setItem('accessToken', res.Data.access_token);
                localStorage.setItem('refreshToken', res.Data.refresh_token);

                // For Persitent Login
                localStorage.setItem('PatrolTime', new Date().toISOString());
                localStorage.setItem('isLoggedInPatrol', 'true');

                window.location.href = "/PC/Patrol/Dashboard";
            });
        } else {
            Swal.fire({
                icon: "error",
                text: res.Message,
                timer: 1500,
                showConfirmButton: false
            });

            savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-solid fa-right-to-bracket'></i>  Login</span>"
        };
    });
    regform.addEventListener('submit', async (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        formData.append('ProjectID', 9);
        if (RegisterValidationForm()) {
            //const savebtn = document.querySelector("#Regisbtn");
            //savebtn.innerHTML = " <div class='buttonloading'></div>";
            let res = await postData('/User/CreateNewUser', formData);
            if (res.StatusCode === 201) {
                Swal.fire({
                    title: "Success",
                    text: res.Message,
                    icon: "success",
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    $("#AddProductModal").modal('hide');
                    $('#logshow').show();
                    regform.reset();
                    //savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-regular fa-floppy-disk'></i>  Registered</span>"
                    //document.querySelector('.Registrationcontainer').classList.remove('activeforms');
                    //document.querySelector('.logincontainer').classList.add('activeforms');
                });

                //savebtn.innerHTML = "<span style='color: #fff;'><i class='fa-regular fa-floppy-disk'></i>  Registered</span>"
            } else {
                Swal.fire({
                    icon: "error",
                    text: res.Message,
                    timer: 1500,
                    showConfirmButton: false
                });
            }
        }
    });
    changeform.addEventListener('submit', async (e) => {
        e.preventDefault();
        let formData = new FormData(e.target);
        if (ChangeValidationForm()) {

        }
    });


    const RegisterValidationForm = () => {
        let pass = $("#RegPassword").val();
        let confirmpass = $("#RegConfirmPassword").val();

        if (pass !== confirmpass) {
            $("#Errormessage").text("Password does not Match");
            return;
        }
    };
    const ChangeValidationForm = async () => {
        let newpass = $("#CNewPassword").val();
        let confirmpass = $("#CConfirm").val();
        let employeeID = $("#CEmployee_ID").val();
        $("#ChangeErrormessage").show();

        let res = await fetchData('/User/CheckEmployeeID', { empID: employeeID });

        if (res == false) {
            $("#ChangeErrormessage").text("Employee ID is Incorrect");
            return;
        }

        if (newpass !== confirmpass) {
            $("#ChangeErrormessage").text("Password does not Match");
            return;
        }

        $("#ChangeErrormessage").hide();
    }


    $("#logshow").show();


    window.IsLoginUser({
        storageKey: "isLoggedInPatrol",
        redirectUrl: '/PC/Patrol/index',
        expectedValue: 'true',
        redirectIfLoggedInUrl: '/PC/Patrol/Dashboard',
        expirationKey: 'PatrolTime',
        maxHours: 24
    });
</script>

