
@{
    ViewBag.Title = "ProductDetails";
    var ID = Request.QueryString["StorageID"];
    Layout = "~/Areas/PartsLocal/Views/Shared/_PartlocalLayout.cshtml";
}

<h2>Product Information</h2>

<input type="hidden" id="RecordID" value="@ID" />


<div class="MainDetails">
    <div class="ProductDetails">
        <div class="ProductDetails__content">
            <div class="ProductDetails__Text">
                <span>Part number :</span>
                <p id="partText">--NA--</p>
            </div>
            @*<i class='bx bx-arrow-back'></i>*@
            <img draggable="false" style="transform: scale(0.8)" src="~/Content/Images/hashtag (1).png" />
        </div>

        <div class="ProductDetails__content">
            <div class="ProductDetails__Text">
                <span>Model name :</span>
                <p id="Model">--NA--</p>
            </div>
            @*<i class='bx bx-arrow-back'></i>*@
            <img draggable="false" style="transform: scale(0.8)" src="~/Content/Images/hashtag (1).png" />
        </div>
        <div class="ProductDetails__content">
            <div class="ProductDetails__Text">
                <span>Location :</span>
                <p id="localText">--NA--</p>
            </div>
            @*<i class='bx bx-arrow-back'></i>*@
            <img draggable="false" style="transform: scale(0.8)" src="~/Content/Images/hashtag (1).png" />
        </div>

        <div class="ProductDetails__content">
            <div class="ProductDetails__Text">
                <span>Quantity :</span>
                <p id="Quantity">--NA--</p>
            </div>
            @*<i class='bx bx-arrow-back'></i>*@
            <img draggable="false" g src="~/Content/Images/boxes.png" />

        </div>
    </div>
</div>




@*=================================================================================*@
@*=========================== SHOP ORDER IN =====================================*@
@*=================================================================================*@
<div class="modal fade modal-l" id="ShowShopOrderIN" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Shop Order monitoring Details (IN)</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <div class="stepper" id="validationStepper">
                    <ol class="stepper-steps">
                        <li class="stepper-step active" data-step="1">
                            <div class="stepper-step-indicator">1</div>
                            <div class="stepper-step-label">Enter Quantity</div>
                        </li>
                        <li class="stepper-step" data-step="2">
                            <div class="stepper-step-indicator">2</div>
                            <div class="stepper-step-label">Shop Order(IN)</div>
                        </li>
                    </ol>




                    <div class="stepper-content">
                        <!-- Step 1: Account Information -->
                        <div class="stepper-pane active" id="validation-step-1">
                            <input type="text" class="form-control" id="QuantityIN" name="QuantityIN" required>
                        </div>

                        <!-- Step 2: Profile Information -->
                        <div class="stepper-pane" id="validation-step-2">
                            <form class="row g-3 mb-4" id="ShopOrderInForm">
                                <div class="col-md-6">
                                    <label for="validationLastName" class="form-label">Input by :</label>
                                    <input type="text" class="form-control" name="Remarks" required>

                                </div>
                                <div class="col-12">
                                    <label for="validationPhone" class="form-label">Rotor Shop Order : </label>
                                    <input type="text" class="form-control" name="RotorOrder" required>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="stepper-actions">
                        <div class="step-indicators">
                            <div class="step-indicator active" data-step="1"></div>
                            <div class="step-indicator" data-step="2"></div>
                        </div>
                        <div>
                            <button class="btn btn-secondary" id="prevBtn" disabled>Previous</button>
                            <button class="btn btn-primary" id="nextBtn">Next</button>
                        </div>
                    </div>
                </div>





            </div>

        </div>
    </div>
</div>

@*=================================================================================*@
@*=========================== SHOP ORDER OUT =====================================*@
@*=================================================================================*@
<div class="modal fade modal-lg" id="ShowShopOrderOut" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-body modalwrap">
                <div class="custom_modal_header">
                    <h5>Shop Order monitoring Details (OUT)</h5>

                    <button type="button" class="btn btn-light  close" data-bs-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>


                <div class="stepper" id="validationStepperOut">
                    <ol class="stepper-steps">
                        <li class="stepper-step active" data-step="1">
                            <div class="stepper-step-indicator">1</div>
                            <div class="stepper-step-label">Enter Quantity</div>
                        </li>
                        <li class="stepper-step" data-step="2">
                            <div class="stepper-step-indicator">2</div>
                            <div class="stepper-step-label">Shop Order Details</div>
                        </li>
                    </ol>

                    <div class="stepper-content">
                        <!-- Step 1: Quantity Information -->
                        <div class="stepper-pane active" id="validation-out-step-1">
                            <div class="form-group">
                                <label for="QuantityOUT" class="form-label">Quantity to Issue:</label>
                                <input type="number" class="form-control" id="QuantityOUT" name="QuantityOUT" required>
                            </div>
                        </div>

                        <!-- Step 2: Shop Order Out Information -->
                        <div class="stepper-pane" id="validation-out-step-2">
                            <form class="row g-3 mb-4" id="ShopOrderOutForm">
                                <div class="col-md-6">
                                    <label for="PreparedBy" class="form-label">Prepared by:</label>
                                    <input type="text" class="form-control" name="Remarks"  required>
                                </div>
                                <div class="col-md-6">
                                    <label for="FAShopOrder" class="form-label">FA Shop Order:</label>
                                    <input type="text" class="form-control" name="ShopOrder"  required>
                                </div>

                                <div class="col-md-6">
                                    <label for="PlanQuantity" class="form-label">Plan Quantity:</label>
                                    <input type="number" class="form-control" name="PlanQuantity"  required>
                                </div>
                                <div class="col-md-6">
                                    <label for="Status" class="form-label">Status:</label>
                                    <select class="form-control" name="Status" required>
                                        <option value="None">None</option>
                                        <option value="Completely issued">Completely issued</option>
                                        <option value="Partially issued">Partially issued</option>
                                    </select>
                                </div>

                                <div class="col-12">
                                    <label for="RotorShopOrder" class="form-label">Rotor Shop Order:</label>
                                    <input type="text" class="form-control" name="RotorOrder"  required>
                                </div>

                                <div class="col-md-6">
                                    <label for="ModelBase" class="form-label">Model Base:</label>
                                    <input type="text" class="form-control" name="ModelBase"  required>
                                </div>
                                <div class="col-md-6">
                                    <label for="PlanStart" class="form-label">Plan Start:</label>
                                    <input type="date" class="form-control" name="PlanDate"  required>
                                </div>

                                <div class="col-12">
                                    <label for="BushMaterial" class="form-label">Bush Material:</label>
                                    <select class="form-control" name="BushType" required>
                                        <option value="0">None</option>
                                        <option value="1">PB bush</option>
                                        <option value="2">PB free bush</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="stepper-actions">
                        <div class="step-indicators">
                            <div class="step-indicator active" data-step="1"></div>
                            <div class="step-indicator" data-step="2"></div>
                        </div>
                        <div>
                            <button class="btn btn-secondary" id="prevBtnOut" disabled>Previous</button>
                            <button class="btn btn-primary" id="nextBtnOut">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="PartslistAction">
    <div class="ImagepartsContainer">
        <img src="~/Content/Images/background.png" />
        <img src="~/Content/Images/background.png" />
    </div>



    <div class="MainVerifyContainer">
        <label>Required Part number: </label><br />
        <input type="text" class="form-control" id="RequireInput" placeholder="Enter the Required Partnumber" />
        <br />
        <label>Verify status : </label><br />
        <div class="VerifyContainer">
            <span id="VerifyStats"></span>
        </div>
        <label>Select a Transaction  : </label>
        <hr />
        <div class="flex_align TransactionWrap">
            <button id="OpenOutbtn" disabled>Out (Issued)</button>
            <button id="OpenInbtn" disabled>IN  (Receive)</button>
        </div>
    </div>


</div>



<script>
    const ID = $("#RecordID").val();
    let referpartnum;
    let Arealocation;
    let previousCount;

    // Stepper elements
    const stepperSteps = document.querySelectorAll('.stepper-step');
    const stepperPanes = document.querySelectorAll('.stepper-pane');
    const stepIndicators = document.querySelectorAll('.step-indicator');
    const prevBtn = document.getElementById('prevBtn');
    const nextBtn = document.getElementById('nextBtn');

    // Stepper elements for OUT
    const stepperStepsOut = document.querySelectorAll('#validationStepperOut .stepper-step');
    const stepperPanesOut = document.querySelectorAll('#validationStepperOut .stepper-pane');
    const stepIndicatorsOut = document.querySelectorAll('#validationStepperOut .step-indicator');
    const prevBtnOut = document.getElementById('prevBtnOut');
    const nextBtnOut = document.getElementById('nextBtnOut');


    // Current step
    let currentStep = 1;
    let currentStepOut = 1;
    const totalSteps = 2;

    // Form elements
    const shopForms = document.getElementById('ShopOrderInForm');
    const shopFormsOut = document.getElementById('ShopOrderOutForm');

     const partlocationStorageList = async () => {
         let res = await FetchAuthenticate('@Url.Action("GetProductDetails", "PartsLocator")', { RecordID : ID});
         if (res && res.Success) {
             referpartnum = res.Data.Partnumber;
             Arealocation = res.Data.Area;
             previousCount = res.Data.Quantity;

             $("#partText").text(referpartnum);
             $("#Model").text(res.Data.ModelName);
             $("#localText").text(res.Data.Area);
             $("#Quantity").text(res.Data.Quantity);
         }
    };

    $("#RequireInput").on('keyup', function (e) {
        if (event.key === 'Enter') {
            const val = e.target.value;

            if (val === referpartnum) {
                $("#VerifyStats").text("GOOD");
                $("#OpenOutbtn").prop("disabled", false);
                $("#OpenInbtn").prop("disabled", false);
            } else {
                $("#VerifyStats").text("NOT GOOD");
                $("#OpenOutbtn").prop("disabled", true);
                $("#OpenInbtn").prop("disabled", true);
            }
        }


    });

    $("#OpenOutbtn").on('click', function (e) {
        e.preventDefault();
        $("#ShowShopOrderOut").modal("show");
    });


    $("#OpenInbtn").on('click', function (e) {
        e.preventDefault();
        $("#ShowShopOrderIN").modal("show");
    });


    // ============================== STEPPER FUNCTIONS ================================== //

    // Update stepper UI for IN
    function updateStepper() {
        // Update step indicators
        stepperSteps.forEach((step, index) => {
            const stepNumber = index + 1;

            if (stepNumber < currentStep) {
                step.classList.remove('active');
                step.classList.add('completed');
            } else if (stepNumber === currentStep) {
                step.classList.add('active');
                step.classList.remove('completed');
            } else {
                step.classList.remove('active', 'completed');
            }
        });

        // Update step panes
        stepperPanes.forEach((pane, index) => {
            const paneNumber = index + 1;

            if (paneNumber === currentStep) {
                pane.classList.add('active');
            } else {
                pane.classList.remove('active');
            }
        });

        // Update step indicators
        stepIndicators.forEach((indicator, index) => {
            const indicatorNumber = index + 1;

            if (indicatorNumber === currentStep) {
                indicator.classList.add('active');
            } else {
                indicator.classList.remove('active');
            }
        });

        // Update buttons
        prevBtn.disabled = currentStep === 1;

        if (currentStep === totalSteps) {
            nextBtn.textContent = 'Finish';
            nextBtn.classList.remove('btn-primary');
            nextBtn.classList.add('btn-success');
        } else {
            nextBtn.textContent = 'Next';
            nextBtn.classList.remove('btn-success');
            nextBtn.classList.add('btn-primary');
        }
    }

    // Update stepper UI for OUT
    function updateStepperOut() {
        // Update step indicators
        stepperStepsOut.forEach((step, index) => {
            const stepNumber = index + 1;

            if (stepNumber < currentStepOut) {
                step.classList.remove('active');
                step.classList.add('completed');
            } else if (stepNumber === currentStepOut) {
                step.classList.add('active');
                step.classList.remove('completed');
            } else {
                step.classList.remove('active', 'completed');
            }
        });

        // Update step panes
        stepperPanesOut.forEach((pane, index) => {
            const paneNumber = index + 1;

            if (paneNumber === currentStepOut) {
                pane.classList.add('active');
            } else {
                pane.classList.remove('active');
            }
        });

        // Update step indicators
        stepIndicatorsOut.forEach((indicator, index) => {
            const indicatorNumber = index + 1;

            if (indicatorNumber === currentStepOut) {
                indicator.classList.add('active');
            } else {
                indicator.classList.remove('active');
            }
        });

        // Update buttons
        prevBtnOut.disabled = currentStepOut === 1;

        if (currentStepOut === totalSteps) {
            nextBtnOut.textContent = 'Finish';
            nextBtnOut.classList.remove('btn-primary');
            nextBtnOut.classList.add('btn-success');
        } else {
            nextBtnOut.textContent = 'Next';
            nextBtnOut.classList.remove('btn-success');
            nextBtnOut.classList.add('btn-primary');
        }
    }

    // IN Stepper Event Listeners
    nextBtn.addEventListener('click', async function () {
        let checkQuan = document.getElementById("QuantityIN").value;

        if (checkQuan !== "") {
            if (currentStep < totalSteps) {
                currentStep++;
                updateStepper();
            } else {
                // Finish button clicked
                let formData = new FormData(shopForms);
                formData.append("Quantity", parseInt(checkQuan));
                formData.append("TransactionType", 0);
                formData.append("Area", Arealocation);
                formData.append("Partnumber", referpartnum);
                formData.append("PreviousQuantity", previousCount);

                const data = Object.fromEntries(formData);

                let res = await postData('@Url.Action("AddShopOrderIn", "PartsLocator")', data);

                console.log(res);
                //console.log(data);
                //alert('Shop Order IN completed successfully!');
                //$("#ShowShopOrderIN").modal("hide");
                //resetStepperIN();
            }
        }
    });

    prevBtn.addEventListener('click', function () {
        if (currentStep > 1) {
            currentStep--;
            updateStepper();
        }
    });

    // OUT Stepper Event Listeners
    nextBtnOut.addEventListener('click', function () {
        let checkQuan = document.getElementById("QuantityOUT").value;

        if (checkQuan !== "") {
            if (currentStepOut < totalSteps) {
                currentStepOut++;
                updateStepperOut();
            } else {
                // Finish button clicked
                let formData = new FormData(shopFormsOut);
                formData.append("Quantity", parseInt(checkQuan));
                formData.append("TransactionType", 1); // 1 for OUT
                formData.append("Partnumber", referpartnum);
                formData.append("Area", Arealocation);
                formData.append("PreviousQuantity", previousCount);

                const data = Object.fromEntries(formData);
                console.log(data);
                alert('Shop Order OUT completed successfully!');
                $("#ShowShopOrderOut").modal("hide");
                resetStepperOUT();
            }
        }
    });

    prevBtnOut.addEventListener('click', function () {
        if (currentStepOut > 1) {
            currentStepOut--;
            updateStepperOut();
        }
    });

    // Reset stepper functions
    function resetStepperIN() {
        currentStep = 1;
        document.getElementById("QuantityIN").value = "";
        shopForms.reset();
        updateStepper();
    }

    function resetStepperOUT() {
        currentStepOut = 1;
        document.getElementById("QuantityOUT").value = "";
        shopFormsOut.reset();
        updateStepperOut();
    }

    // Initialize both steppers
    updateStepper();
    updateStepperOut();


    partlocationStorageList();
</script>