<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="config:key" value="1234567890123456" />
    <add key="config:iv" value="6543210987654321" />
    <add key="config:JwtKey" value="YourSuperSecureKeyForAccessToken" />
    <add key="config:JwtRefreshkey" value="YourSuperSecureKeyForRefreshToken" />
    <add key="config:JwtExpireDays" value="30" />
    <add key="config:JwtIssuer" value="http://p1saportalweb.sdp.com/" />
    <add key="config:JwtAudience" value="SecureApplicationUser" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="live_connect" connectionString="Data Source=172.29.3.139;Initial Catalog=PMACS_TEST;Persist Security Info=True;User ID=p1sa;Password=p1sa1234a*" providerName="System.Data.SqlClient" />
    <add name="Myconnect" connectionString="Data Source=DESKTOP-FC0UP1P;Initial Catalog=Attendance;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="LiveDevelopment" connectionString="c2VydmVyPTE3Mi4yOS4zLjEzOTtVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QUk9EQ09ORjtQb29saW5nPVRydWU7TWluIFBvb2wgU2l6ZT01MDtNYXggUG9vbCBTaXplPTEwMDs=" providerName="System.Data.SqlClient" />
    <add name="TestDevelopment" connectionString="c2VydmVyPVNEUDA3MDZFUztVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QTUFDU19URVNUO1Bvb2xpbmc9VHJ1ZTtNaW4gUG9vbCBTaXplPTUwO01heCBQb29sIFNpemU9MTAwOw==" providerName="System.Data.SqlClient" />
    <add name="HomeDevelopment" connectionString="c2VydmVyPURFU0tUT1AtRkMwVVAxUDtVc2VyIElEPVBDc3lzdGVtO3Bhc3N3b3JkPXAxc2Fwcm9jZXNzO2RhdGFiYXNlPVAxc2E=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>