<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="config:key" value="1234567890123456" />
    <add key="config:iv" value="6543210987654321" />
    <add key="config:JwtKey" value="YourSuperSecureKeyForAccessToken" />
    <add key="config:JwtRefreshkey" value="YourSuperSecureKeyForRefreshToken" />
    <add key="config:JwtExpireDays" value="30" />
    <add key="config:JwtIssuer" value="http://p1saportalweb.sdp.com/" />
    <add key="config:JwtAudience" value="SecureApplicationUser" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
	<connectionStrings>
		<add name="live_connect" connectionString="Data Source=172.29.3.139;Initial Catalog=PMACS_TEST;Persist Security Info=True;User ID=p1sa;Password=p1sa1234a*" providerName="System.Data.SqlClient" />
		<add name="Myconnect" connectionString="Data Source=DESKTOP-FC0UP1P;Initial Catalog=Attendance;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="LiveDevelopment" connectionString="c2VydmVyPTE3Mi4yOS4zLjEzOTtVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QUk9EQ09ORjtQb29saW5nPVRydWU7TWluIFBvb2wgU2l6ZT01MDtNYXggUG9vbCBTaXplPTEwMDs=" providerName="System.Data.SqlClient" />
		<add name="LiveTest" connectionString="RGF0YSBTb3VyY2U9MTcyLjI5LjMuMTM5O0luaXRpYWwgQ2F0YWxvZz1QTUFDU19URVNUO1BlcnNpc3QgU2VjdXJpdHkgSW5mbz1UcnVlO1VzZXIgSUQ9cDFzYTtQYXNzd29yZD1wMXNhMTIzNGEq" providerName="System.Data.SqlClient"/>
		<add name="TestDevelopment" connectionString="c2VydmVyPVNEUDA3MDZFUztVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QTUFDU19URVNUO1Bvb2xpbmc9VHJ1ZTtNaW4gUG9vbCBTaXplPTUwO01heCBQb29sIFNpemU9MTAwOw==" providerName="System.Data.SqlClient" />
		<add name="HomeDevelopment" connectionString="c2VydmVyPURFU0tUT1AtRkMwVVAxUFxTUUxFWFBSRVNTO2RhdGFiYXNlPVBNQUNTX1RFU1Q7SW50ZWdyYXRlZCBTZWN1cml0eT1UcnVlOw==" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
