<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets async="true" xsi:type="AsyncWrapper" name="asyncFile" queueLimit="5000">
    <target xsi:type="File"
            name="logfile"
            fileName="\\sdp01034s\SYSTEM EXECUTABLE\P1SA-PC_System\WebLogs\Attendancelog.txt"
            archiveFileName="\\sdp01034s\SYSTEM EXECUTABLE\P1SA-PC_System\WebLogs\Archive\Attendancelog.{#}.txt"
            archiveAboveSize="10485760"   
            maxArchiveFiles="12"
            archiveNumbering="Rolling"
            createDirs="true"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message}${newline}${exception:format=ToString}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
