
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metal Mask Monitoring System</title>
    <meta name="description" content="Learn how to improve your website with caching, accessibility, and SEO best practices.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/css/MetalMask.css" rel="stylesheet" />
    <link href="~/Content/Shared/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>


    @Styles.Render("~/Content/shared-css")

    @Scripts.Render("~/bundles/shared-js")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="MaskHead">
        <div class="customcontainer nav-container">
            <a href="#" class="logo">
                <i class="fas fa-seedling"></i>
                <span>Metal Mask Monitoring System</span>
            </a>


            <nav class="nav-links">
                <a href="#home" class="nav-link" data-en="Mask">Metal Mask info</a>
                <a href="#about" class="nav-link" data-en="SMT">SMT Line</a>
                <a href="#feat" class="nav-link" data-en="Cleaning">Cleaning</a>
                <a href="#feat" class="nav-link" data-en="Tension">Tension </a>
            </nav>
        </div>
    </header>

    <main>
        <div class="customcontainer">
            @RenderBody()
        </div>
    </main>
</body>
</html>
