
@{
    ViewBag.Title = "Changepassword";
    Layout = "~/Areas/Press/Views/Shared/_PartsLocator.cshtml";
}

<div class="ChangepassWrapper">
    <div class="ChangepassWrapper__header">
        <h1>Change password</h1>
    </div>

    <form id="changeforms" class="changeformsdesign">
        <div class="change__group">
            <label>Current Password :</label>
            <i class="fa fa-check-circle" aria-hidden="true" id="currentcheck"></i>
            <i class="fa fa-times-circle" aria-hidden="true" id="currentWrong"></i>
            <input type="password" name="currentpassword" id="currentpassword" placeholder="Input your old password" autofocus autocomplete="off" />
        </div>
        <div class="change__group">
            <label>New Password :</label>
            <i class='bx bx-check' id="newcheck"></i>
            <i class='bx bxs-x-circle' id="newwrong"></i>
            <input type="password" name="newpassword" id="newpassword" placeholder="input new password" autocomplete="off" />
        </div>

        <div class="change__group">
            <label>Confirm Password :</label>
            <i class="fa fa-check-circle" aria-hidden="true" id="confirmcheck"></i>
            <i class="fa fa-times-circle" aria-hidden="true" id="confirmwrong"></i>

            <input type="password" name="confirmpassword" id="confirmpassword" placeholder="Verify the password" autocomplete="off" />
        </div>

        <button type="submit"><i class="fa-regular fa-floppy-disk"></i>  Save changes</button>
    </form>
</div>


<script src="~/Scripts/Utilities.js"></script>
<script src="~/Scripts/sweetalert2.min.js"></script>
<script src="~/Scripts/jquery-3.7.1.min.js"></script>
<script type="text/javascript">
    const changeform = document.getElementById('changeforms');

    changeform.addEventListener('submit', function (e) {
        e.preventDefault();

        let formData = new FormData(changeform);
        const data = Object.fromEntries(formData);

        console.log(data);
    });
</script>
