<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="config:key" value="1234567890123456" />
		<add key="config:iv" value="6543210987654321" />
		<add key="config:JwtKey" value="AvengersAssembledabcd12345XYZ!@#S!!!" />
		<add key="config:RefreshSecretKey" value="YourSuperSecureKeyForRefreshToken" />
		<add key="config:JwtExpireDays" value="7" />
		<!-- Refresh Token: 1 day -->
		<add key="config:JwtExpireMinutes" value="30" />
		<!-- Access Token: 30 minutes -->
		<add key="config:JwtIssuer" value="http://p1saportalweb.sdp.com/" />
		<add key="config:JwtAudience" value="SecureApplicationUser" />
		<add key="SMTPHost" value="smtp.office365.com" />
		<add key="SMTPPort" value="587" />
		<add key="SMTPEmail" value="p1sa-processcontrol@sanyodenki.com" />
		<add key="SMTPPassword" value="p1sapc0725*" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<connectionStrings>
		<add name="live_connect" connectionString="Data Source=172.29.3.139;Initial Catalog=PRODCONF;Persist Security Info=True;User ID=p1sa;Password=p1sa1234a*" providerName="System.Data.SqlClient" />
		<add name="Myconnect" connectionString="Data Source=DESKTOP-FC0UP1P;Initial Catalog=Prodcon;Persist Security Info=True;User ID=PCsystem;Password=p1saprocess" providerName="System.Data.SqlClient" />
		<add name="LiveDevelopment" connectionString="c2VydmVyPTE3Mi4yOS4zLjEzOTtVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QUk9EQ09ORjtQb29saW5nPVRydWU7TWluIFBvb2wgU2l6ZT01MDtNYXggUG9vbCBTaXplPTEwMDs=" providerName="System.Data.SqlClient" />
		<add name="TestDevelopment" connectionString="c2VydmVyPVNEUDA3MDZFUztVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QTUFDU19URVNUO1Bvb2xpbmc9VHJ1ZTtNaW4gUG9vbCBTaXplPTUwO01heCBQb29sIFNpemU9MTAwOw==" providerName="System.Data.SqlClient" />
		<add name="HomeDevelopment" connectionString="RGF0YSBTb3VyY2U9REVTS1RPUC1GQzBVUDFQO0luaXRpYWwgQ2F0YWxvZz1Qcm9kY29uO1BlcnNpc3QgU2VjdXJpdHkgSW5mbz1UcnVlO1VzZXIgSUQ9UENzeXN0ZW07UGFzc3dvcmQ9cDFzYXByb2Nlc3M" providerName="System.Data.SqlClient" />
		<add name="UsersLiveConnection" connectionString="c2VydmVyPTE3Mi4yOS4zLjEzOTtVc2VyIElEPXAxc2E7cGFzc3dvcmQ9cDFzYTEyMzRhKjtkYXRhYmFzZT1QUk9EQ09ORjtQb29saW5nPVRydWU7TWluIFBvb2wgU2l6ZT01MDtNYXggUG9vbCBTaXplPTEwMDs=" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.8" newVersion="9.0.0.8" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>