
@{
    ViewBag.Title = "ChamberDesign";
    Layout = "~/Areas/Hydroponics/Views/Shared/HydroPartsLayout.cshtml";
}



<iframe src='@Url.Action("ViewExcel","Hydro", new { fileName = "CM_250812_20250812_171539.xlsx" })'
        width="100%"
        height="700px">
</iframe>

@*<div class="" style="position: absolute; top: 0; left: 0; width: 100%;">
    <iframe src='@Url.Action("ViewPdf","Hydro", new { fileName = "sample.pdf" })'
            width="100%"
            height="700px">
    </iframe>
</div>*@