
@{
    ViewBag.Title = "Orderpage";
    Layout = "~/Areas/Hydroponics/Views/Shared/HydroPartsLayout.cshtml";
}

<header class="InspectHead flex_space">
    <div class="flex_align">
        <h5 style="font-weight: 600;">Request Chambers</h5>
        <div class="Inputcontainer" style="display: none;">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search here ... " id="searchbox" autocomplete="off" />
            <div class="line"></div>
        </div>
    </div>

    <div class="flex_align">
        
        <button style="width: 100%;" id="Showadd" class="primarybtn" type="button"><i class="fa-solid fa-user-secret"></i> New Request</button>
    </div>
</header>

<div class="Mold_tabcontainer">
    <div class="Mold_tabs">
        <button class="Mold_tab active" data-target="All">All</button>
        <button class="Mold_tab" data-target="Completed">Completed</button>
        <button class="Mold_tab" data-target="InProgress">In Progress</button>
        <button class="Mold_tab" data-target="Pending">Pending</button>
        <div class="Mold_slider"></div>
    </div>

    <div class="Mold_contentbox">
        <div class="Mold_content show" id="All">
             <div class="RequestWrapper" style="width: 100%;">
                 <div class="RequestContainer" style="width: 100%; display: grid; grid-template-columns: 10% 1fr 1fr 1fr 1fr; ">
                     <div class="RequestContent">
                         <span>1sdad</span>
                     </div>
                     <div class="RequestContent">
                         <span>1sdad</span>
                     </div>
                     <div class="RequestContent">
                         <span>1sdad</span>
                     </div>
                     <div class="RequestContent">
                         <span>1sdad</span>
                     </div>
                     <div class="RequestContent">
                         <span>1sdad</span>
                     </div>
                 </div>
             </div>
        </div>

        <div class="Mold_content" id="Completed">
            <h1>Tab 2</h1>
        </div>

        <div class="Mold_content" id="InProgress">
            <h1>Tab 3</h1>

        </div>
        <div class="Mold_content" id="Pending">
            <h1>Tab 4</h1>

        </div>
    </div>
</div>


<script type="text/javascript">


    // Tabs Content
    const tabs = document.querySelectorAll(".Mold_tab");
    const slider = document.querySelector(".Mold_slider");
    const contents = document.querySelectorAll(".Mold_content");

    tabs.forEach((tab, index) => {
        tab.addEventListener("click", () => {
            // Handle tab active class
            document.querySelector(".Mold_tab.active").classList.remove("active");
            tab.classList.add("active");

            // Move slider
            slider.style.transform = `translateX(${index * 100}%)`;

            // Switch content
            const target = tab.getAttribute("data-target");
            contents.forEach((content) => {
                content.classList.remove("show");
            });

            // Add show class with slight delay
            setTimeout(() => {
                document.getElementById(target).classList.add("show");
            }, 50);

           
           
        });
    });
</script>