
@{
    ViewBag.Title = "DieMoldLife";
    Layout = "~/Areas/MoldDie/Views/Shared/_MainLayout.cshtml";
}

<section>
    <header class="MainHeader">
        <div class="MoldTitle">
            <h4>Molding Mold Die Life </h4>
            <small>Manage Mold die Monitoring</small>

        </div>
        <div class="Mold__actions">
            @* MOLD SUMMARY *@
            <div id="MoldSummary">
                <div class="d-flex align-items-center gap-3">
                    <div class="select-container">
                        <select id="ProcessID">
                            <option value="M002">Mold  Frame</option>
                            <option value="M001">ACM</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                            <option value="M005">Stepping Motor</option>
                        </select>
                    </div>


                    <div class="searchinputContainer">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here ... " id="Summarysearchbox" />
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            @* MOLD MOnitoring *@
            <div id="MoldMonitor">
                <button class="primary_button_color" data-bs-toggle="modal" data-bs-target="#AddMoldModal"><i class="fa-solid fa-plus"></i> Add Data</button>
            </div>

            @* MOLD Daily MOnitoring *@
            <div id="MoldDailyMonitor">
                <button id="Showadd" class="primarybtn" type="button"><i class="fa-solid fa-file-circle-plus"></i> Add Daily Input</button>
            </div>

            @* MOLD TOOLING*@
            <div id="MoldTooling">
                <div class="d-flex align-items-center gap-2">
                    <button class="primary_button_color" data-bs-toggle="modal" data-bs-target="#AddTooling"><i class="fa-solid fa-plus"></i> Add Data</button>
                    <button id="Exportbtn" style="display: none;"><i class="fa-solid fa-file-arrow-down"></i>Export Data</button>
                </div>
            </div>
        </div>
    </header>


    <div class="Mold_tabcontainer">
        <div class="Mold_tabs">
            <button class="Mold_tab active" data-target="Summary">Summary</button>
            <button class="Mold_tab" data-target="Monitoring">Month</button>
            <button class="Mold_tab" data-target="Daily">Daily</button>
            <button class="Mold_tab" data-target="Tooling">Tooling</button>
            <div class="Mold_slider"></div>
        </div>

        <div class="Mold_contentbox">
            <div class="Mold_content show" id="Summary">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="DieMainTable" id="DieWrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>No. </th>
                                        <th style="text-align: left !important; padding-left: 1.5em;">Part Number </th>
                                        <th>Die #</th>
                                        <th>Die Serial</th>
                                        <th>2011-2015</th>
                                        <th>Shot Count Onward</th>
                                        <th>Status</th>
                                        @*<th>Renarks</th>*@
                                    </tr>
                                </thead>
                                <tbody id="SummarylistData">
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="DieMainTable">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="text-align: left; padding-left: 1em; width: 70%;">Category</th>
                                        <th style="width: 30%;">No of die</th>
                                    </tr>
                                </thead>
                                <tbody id="FinalSummaryData">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="Mold_content" id="Monitoring">
                <div class="flex_space mb-2">
                    <div class="searchinputContainer">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input type="text" placeholder="Search here ... " id="searchbox" />
                        <div class="line"></div>
                    </div>

                    <div class="flex_align">
                        <div class="select-container">
                            <select id="yearselect"></select>
                        </div>

                        <div class="select-container">
                            <select id="monthSelect"></select>
                        </div>

                        <div class="select-container">
                            <select id="MonitorProcess">
                                <option value="M002">Mold  Frame</option>
                                <option value="M001">ACM</option>
                                <option value="M003">Mold Impeller</option>
                                <option value="M004">Slot Insulator </option>
                                <option value="M005">Stepping Motor</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="DieMainTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th style="text-align: left !important; padding-left: 1.5em;">Part Number </th>
                                @*<th>Part Description </th>*@
                                <th>Dimension/ Quality </th>
                                <th>No. of Cavity</th>
                                <th>Die Serial</th>
                                <th id="MonthHeader">Jan-16</th>
                                <th>TotalQty</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldMasterlist">
                        </tbody>
                    </table>


                </div>
            </div>

            <div class="Mold_content" id="Daily">

                <div class="flex_align">
                    <input type="date" id="DailyfilterDate" />

                    <div class="select-container">
                        <select id="yearselectDaily"></select>
                    </div>

                    <div class="select-container">
                        <select id="monthSelectDaily"></select>
                    </div>

                    <div class="select-container">
                        <select id="DailyProcess">
                            <option value="M002">Mold Frame</option>
                            <option value="M003">Mold Impeller</option>
                            <option value="M004">Slot Insulator </option>
                        </select>
                    </div>

                </div>

                <div class="DieMainTable" id="DieWrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Part No. / Model </th>
                                <th>Number of Shot Cycle</th>
                                <th>Total</th>
                                <th>Machine No.</th>
                                <th>Operation</th>
                                <th>Maintenance</th>
                                <th>Remarks</th>
                                <th>Maintenance Incharge</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="DieMoldDaily">
                        </tbody>
                    </table>


                </div>


            </div>

            <div class="Mold_content" id="Tooling">
                <div id="LoadDieTool"></div>
            </div>
        </div>
    </div>

</section>



<div class="MoldiefooterContainer" id="Summaryfooter">
    <span>Showing  <span id="SummarypagecountID">-</span> to <span id="SummarytotalpageID">-</span> of  <span id="SummaryDatalengthID">-</span> Entries</span>

    <div id="SummaryPaginationContainer" class="paginationPartlocal"></div>
</div>


<div class="MoldiefooterContainer" id="Monitorfooter">
    <span>Showing  <span id="MonitorpagecountID">-</span> to <span id="MonitortotalpageID">-</span> of  <span id="MonitorDatalengthID">-</span> Entries</span>

    <div id="PaginationContainer" class="paginationPartlocal"></div>
</div>


<div class="MoldiefooterContainer" id="Dailyfooter">
    <span>Showing  <span id="DailypagecountID">-</span> to <span id="DailytotalpageID">-</span> of  <span id="DailyDatalengthID">-</span> Entries</span>

    <div id="DailyContainer" class="paginationPartlocal"></div>
</div>






@*<script type="text/javascript">
    // Date Dropdown Selection
    const months = [
        "January", "February", "March", "April",
        "May", "June", "July", "August",
        "September", "October", "November", "December"
    ];


    const currentMonth = new Date().getMonth(); // Gets Month
    const currentYear = new Date().getFullYear(); // Gets Year
    let GetRow = 0;

    let setMonth = parseInt(currentMonth) + 1;

    const select = document.getElementById("monthSelect");
    const dailyselect = document.getElementById("monthSelectDaily");

    const yearSelect = document.getElementById("yearselectDaily");
    const monthSelect = document.getElementById("monthSelectDaily");
    const dateInput = document.getElementById("DailyfilterDate");

    // FOR TABS MENU
    // Tabs Content
    const tabs = document.querySelectorAll(".Mold_tab");
    const slider = document.querySelector(".Mold_slider");
    const contents = document.querySelectorAll(".Mold_content");
    let isTabLoaded = [true, false, false, false];

    tabs.forEach((tab, index) => {
        tab.addEventListener("click", () => {
            // Handle tab active class
            document.querySelector(".Mold_tab.active").classList.remove("active");
            tab.classList.add("active");

            // Move slider
            slider.style.transform = `translateX(${index * 100}%)`;

            // Switch content
            const target = tab.getAttribute("data-target");
            contents.forEach((content) => {
                content.classList.remove("show");
            });

         

        });
    });



    const GetGlobalMoldDieSummary = async () => {
        let res = await fetchData('@Url.Action("GlobalMoldDieSummaryList", "DieMold")', {});
        console.log(res);
    }
</script>*@