@font-face {
    font-family: 'Inter';
    src: url('/Content/fonts/Inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
}

.form-group input{
    margin-top: .5em;
}

button {
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: hsl(178, 97%, 24%);
    color: #fff;
}

img.lazy {
    opacity: 0;
    transition: opacity 0.3s;
}

img.loaded {
    opacity: 1;
}

.center {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.cardCustom {
    background: rgba(0, 0, 0, 0.5);
    padding: 24px;
    border-radius: 12px;
    color: #fff;
    width: 400px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

    .cardCustom h2 {
        margin-top: 0;
        text-align: center;
    }

label {
    display: block;
    font-size: 14px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background: #f5f5f5;
    color: #222;
}

.sign-in-btn {
    width: 100%;
    background: hsl(178, 97%, 24%);
    padding: .7rem 1.25rem;
    transition: all 0.3s ease;
}

.sign-in-btn:hover{
    background: hsl(176, 69%, 22%);
}


/*========================================
  1. LOGO text Layout
========================================*/

.logo {
/*    font-size: 35px;
    font-weight: 700;
    text-align: center;
    transform: translateY(-20%);*/  
    display: flex;
    align-items: center;
    justify-content:center;
    margin-bottom: 2em;
}
.logo img{
    width: 80%;
}



.logo span {
    color: #3498db;
}

    .logo p {
        font-weight: 400;
        font-size: 18px;
        margin: 0;
        opacity: .6;
    }

/*========================================
  1. Backgroud Animation
========================================*/
.bg-animated {
    position: fixed;
    inset: 0;
    /*    background: linear-gradient(120deg, #0f172a, #0ee983, #3ad8ed);
    background-size: 300% 300%;
    animation: gradientShift 12s ease infinite;*/
    background-image: radial-gradient(circle at 33% 41%, rgba(250, 250, 250,0.03) 0%, rgba(250, 250, 250,0.03) 50%,rgba(37, 37, 37,0.03) 50%, rgba(37, 37, 37,0.03) 100%),radial-gradient(circle at 76% 49%, rgba(28, 28, 28,0.03) 0%, rgba(28, 28, 28,0.03) 50%,rgba(187, 187, 187,0.03) 50%, rgba(187, 187, 187,0.03) 100%),radial-gradient(circle at 41% 99%, rgba(247, 247, 247,0.03) 0%, rgba(247, 247, 247,0.03) 50%,rgba(120, 120, 120,0.03) 50%, rgba(120, 120, 120,0.03) 100%),radial-gradient(circle at 66% 27%, rgba(17, 17, 17,0.03) 0%, rgba(17, 17, 17,0.03) 50%,rgba(156, 156, 156,0.03) 50%, rgba(156, 156, 156,0.03) 100%),linear-gradient(0deg, rgb(18, 81, 88),rgb(39, 101, 99));
    z-index: -1;
}


/*@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}*/

/*========================================
  1. Card Box Layout
========================================*/
.Wrapcontainer {
    display: grid;
    width: 900px;
    height: 500px;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
/*========================================
  1. Slider Carousel Layout
========================================*/
.carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* hides other slides */
    background: rgba(0, 0, 0, 0.5);
}

.welcome-text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}

.login-container {
    background: #fff;
}

.login-container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hydrocenter {
    position: relative;
    height: 100%;
    overflow: hidden;
}

    .hydrocenter img {
        width: 60%;
    }

.formwrapper {
    width: 100%;
    padding: 0 3em;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

    .slide.Slideactive {
        opacity: 1;
    }

.controls {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.control-btn {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #bbb;
    cursor: pointer;
}

    .control-btn.active {
        background: #333;
    }






/*========================================
  1. Sign IN Backgroud Animation
========================================*/
.loader-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s ease;
}

    .loader-overlay.show {
        opacity: 1;
        pointer-events: auto;
    }

.loader-box {
    display: flex;
    align-items: center;
    gap: 16px;
    background: rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 12px;
    color: #fff;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255,255,255,0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}






.custom_modal_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.modalwrap {
    padding: 1.5em;
}

.primarybtn {
    background: hsl(178, 97%, 24%);
}


/* Controls styling */
.controls {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
}

.control-btn {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    width: 30px;
    height: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

    .control-btn:hover {
        background: rgba(255, 255, 255, 0.8);
        transform: scale(1.1);
    }

    


.formcontainer {
    width: min(100%, 1200px);
    margin: 0 auto;
    background: #FFFFFF;
    padding: 2em;
    border-radius: .5em;
    margin-bottom: 3em;
    margin-inline: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}



.addformcontainer {
    padding: .5em;
}

    .formcontainer h5, .addformcontainer h5, .formcontainer label, .addformcontainer label {
        font-weight: 500;
        color: #222;
    }

    .formcontainer label, .addformcontainer label {
        font-size: .836rem;
    }

    .formcontainer input, .formcontainer textarea, .addformcontainer input, .addformcontainer textarea, .RequestedByText, .DateInputText, .PurposeText {
        width: 100%;
        margin: .5em 0 1em 0;
        border: 1px solid #A5A1AA;
        padding: .6em 1em;
        font-size: .75rem;
        border-radius: .3em;
    }



        .formcontainer input[type='checkbox'] {
            width: auto;
            margin: 0;
            padding: 0;
        }

    .formcontainer textarea, .addformcontainer textarea {
        width: 100%;
        margin: .5em 0 1em 0;
        border: 1px solid #A5A1AA;
        padding: .6em;
        font-size: .938rem;
    }

.form_group label {
    font-weight: 600;
}


.formcontainer input:focus, .formcontainer textarea:focus, .addformcontainer input:focus, .addformcontainer textarea:focus {
    outline: 1px solid hsl(175, 77%, 26%);
}




.custom_modal_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em;
}

.custom_modal__icon {
    display: flex;
    align-items: center;
    gap: 1em;
}

.custom_icon_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 1em;
    background: hsl(209, 84%, 88%);
    color: hsl(209, 80%, 50%);
}

    .custom_icon_container i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 3rem !important;
        transform: translate(-50%, -50%);
    }

.custom_modal_header h5 {
    font-weight: 600;
}