@font-face {
    font-family: 'poppins-regular';
    src: url('/Content/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppins-light';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-medium';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins-bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
}



/*========== GOOGLE FONTS ==========*/
/*@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
========== VARIABLES CSS ==========*/
    :root {
        --header-height: 3.5rem;
        --nav-width: 250px;
        /*========== Colors ==========*/
        --primary-color: hsl(248, 100%, 63%);
        --primary-hover: hsl(248, 65%, 44%);
        --primary-alt-color: hsl(209, 91%, 34%);
        --title-color: #19181B;
        --text-color: #58555E;
        --text-color-light: #A5A1AA;
        --body-color: #f5f5f5;
        --container-color: #FFFFFF;
        --nav-color: hsl(210, 29%, 9%);
        /*========== Font and typography ==========*/
        --body-font: 'poppins-regular', sans-serif;
    }

    body, h1, h2, h3, h4, div, p, strong, small, button, select {
        font-family: var(--body-font);
    }

    .primarybtn{
        background: var(--primary-color) !important;
    }
    .primarybtn:hover{
        background:  var(--primary-hover) !important;
    }

    .circlebtn {
        width: 35px;
        height: 35px;
        background: var(--primary-color);
        color: #fff;
    }

    
    .loginwrapper {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(17deg, rgba(41, 41, 41, 0.02) 0%, rgba(41, 41, 41, 0.02) 48%,rgba(10, 10, 10, 0.02) 48%, rgba(10, 10, 10, 0.02) 59%,rgba(164, 164, 164, 0.02) 59%, rgba(164, 164, 164, 0.02) 73%,rgba(79, 79, 79, 0.02) 73%, rgba(79, 79, 79, 0.02) 93%,rgba(42, 42, 42, 0.02) 93%, rgba(42, 42, 42, 0.02) 100%),linear-gradient(42deg, rgba(124, 124, 124, 0.02) 0%, rgba(124, 124, 124, 0.02) 15%,rgba(116, 116, 116, 0.02) 15%, rgba(116, 116, 116, 0.02) 23%,rgba(41, 41, 41, 0.02) 23%, rgba(41, 41, 41, 0.02) 44%,rgba(196, 196, 196, 0.02) 44%, rgba(196, 196, 196, 0.02) 54%,rgba(145, 145, 145, 0.02) 54%, rgba(145, 145, 145, 0.02) 100%),linear-gradient(151deg, rgba(85, 85, 85, 0.02) 0%, rgba(85, 85, 85, 0.02) 12%,rgba(72, 72, 72, 0.02) 12%, rgba(72, 72, 72, 0.02) 28%,rgba(156, 156, 156, 0.02) 28%, rgba(156, 156, 156, 0.02) 33%,rgba(230, 230, 230, 0.02) 33%, rgba(230, 230, 230, 0.02) 50%,rgba(13, 13, 13, 0.02) 50%, rgba(13, 13, 13, 0.02) 100%),linear-gradient(76deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 9%,rgba(183, 183, 183, 0.02) 9%, rgba(183, 183, 183, 0.02) 32%,rgba(19, 19, 19, 0.02) 32%, rgba(19, 19, 19, 0.02) 86%,rgba(129, 129, 129, 0.02) 86%, rgba(129, 129, 129, 0.02) 88%,rgba(174, 174, 174, 0.02) 88%, rgba(174, 174, 174, 0.02) 100%),linear-gradient(90deg, rgb(32,36,49),rgb(7,13,31));
        background-position: center;
        background-size: cover;
    }

    .loginwrapper h3{
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 600;
        margin-bottom: 1.5em;
        text-align: center;
    }

    .loginwrapper label {
        font-weight: 600;
        color: rgba(0,0,0,0.8);
        font-size: 14px;
    }

    .logincontainer, .Registrationcontainer {
        width: 90%;
        max-width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .logincontainer #logincredentials, .Registrationcontainer #Registerform {
        background: #fff;
        padding: 2.5em 2em 2.5em;
        border-radius: .2em;
    }

    .logincontainer .selectreg, .Registrationcontainer .selectreg {
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
    }

    .Registrationcontainer span, .logincontainer span {
        cursor: pointer;
        color: #5a41ff;
    }

    .logincontainer h3 {
         font-size: 1.3rem;
        font-weight: 600;
        text-align: center;
    }

    .logincontainer .group, .Registrationcontainer .group {
        margin-bottom: 1em;
    }

    .logincontainer button, .Registrationcontainer button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        background: #5a41ff;
        padding: 1em 0;
        border: none;
        color: #fff;
        cursor: pointer;
        font-weight: 600;
        transition: all 0.3s ease;
        border-radius: .4em;
    }

    .logincontainer button:hover, .Registrationcontainer button:hover {
        background: #331fb6;
    }

    .logincontainer input, .Registrationcontainer input {
        width: 100%;
        padding: .8em;
        margin: .2em 0;
        outline: none;
        background: #f5f5f5;
    }

    .Registrationcontainer, .logincontainer {
        display: none;
    }

    .activeforms {
        display: block;
    }




/*------------------------ BUTTON LOADING ANIMATION ------------------- */
    .buttonloading {
        width: 16px;
        padding: 8px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #dcc9ff;
        --_m: conic-gradient(#0000 10%,#000), linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
    }

    @keyframes l3 {
        to {
            transform: rotate(1turn)
        }
    }
/*------------------------------------------------------------------------------- */
    .ProgramsMainpage {
        display: grid;
        grid-template-columns: auto 1fr;
        min-height: 100vh;
        text-rendering: optimizeSpeed;
        font-optical-sizing: auto;
        font-family: var(--body-font);
    }
    .is-invalid {
        border-color: red;
    }
    .Scaninputbox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 15px;
        margin-bottom: 1em;
    }
    .Scaninputbox input{
        width: 100%;
        background: #e7e5e5;
        padding: .5em 1em;
        border-radius: .2em;
    }


    .MasterlistWrap h1 {
        font-weight: 500;
        font-size: 1.5rem;
    }


/*========== Search bar ==========*/
    .Searchbox {
        border: 1px solid rgba(0,0,0,0.3);
        padding: 0 1em 0 1em;
        border-radius: .2em;
    }
    .Searchbox input, .Partbox input {
        height: 39px;
        line-height: 39px;
    }
    .Searchbox i {
        font-size: var(--normal-font-size);
    }
/*========== Buttons desgn with icons and animation ==========*/

    #btnSave, #Excelbtn {
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--primary-color);
        padding: .5em 2em;
        border-radius: 2px;
        color: #fff;
        transition: .5s ease-in-out;
    }

    #btnSave i {
        font-size: 1.2rem;
    }

    #btnSave:hover {
        background: #3e25db;
    }

    .hidden {
        display: none;
    }


    .custom_modal_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .2em .5em;
    }

    .custom_modal__icon {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .custom_modal__icon span {
        font-weight: var(--font-semi-bold);
    }

    .custom_modal__icon2 {
        display: flex;
        align-items: center;
        gap: 1em;
    }

    .custom_icon_container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 1em;
        background: #e3dfff;
        color: var(--clr-neon-primary);
    }

    .custom_icon_container i {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        transform: translate(-50%, -50%);
    }


.custom_modal_title span {
    font-weight: var(--font-semi-bold);
    font-size: var(--h3-font-size);
}

.custom_modal_title p {
    font-size: var(--small-font-size);
}

.modalfooter {
    text-align: center;
    padding-top: .5em;
}

.Nodata {
    display: hidden; /* Initially hidden */
    height: 100px;
    width: 100%;
    background: #e2e2e2;
    color: red;
    border: 1px solid #7e7d7d;
    padding: 20px;
}

    .Nodata.hidden {
        display: none;
    }


.invalid-feedback {
    display: none;
    color: red;
}



.Scan {
    /*    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    margin-top: 2em;*/
    width: 700px;
    margin: 2.5em auto 1em;
}

.Scan_barcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e2e2e2;
    border-radius: 10px;
}

.Scan_code {
    max-width: 500px;
    text-align: center;
    padding: 1.5em 1em;
    border-radius: .5em;
}

    .Scan_code p {
        font-size: .9rem;
    }

    .Scan_code i {
        font-size: 150px;
        margin-bottom: 10px;
    }

    .Scan_code button {
        padding: .5em 1.5em;
        background: var(--clr-neon-primary);
        color: #fff;
        transition: .5s ease-in-out;
        border-radius: 2px;
    }

        .Scan_code button:hover {
            background: #3e25db;
        }

    .Backbtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f5f5f5;
        color: #222;
        font-size: 1.5rem;
    }

    .btnscan {
        display: block;
        width: 50px;
        height: 40px;
        color: #fff;
        line-height: 42px;
        border-radius: 5px;
        background: var(--primary-color);
    }

.Scansearch {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
}

    .Scansearch input {
        width: 100%;
        background: #e2e2e2;
        padding: .5em 1em;
    }

.formcontainer {
    /*    max-width: 987px;*/
    width: 100%;
    margin: 0 auto;
    padding: 1em .5em;
}

    .formcontainer .form_group input:focus, textarea:focus {
        outline: 2px solid var(--clr-neon-primary);
    }

.form_group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 15px;
}

.form_group input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #bbb;
    font-size: 15px;
    border-radius: 2px;
}


    .barcodecontainer label{
        font-weight: 600;
    }

    


    .tabs {
        width: 100%;
    }
    .tabs__header > div {
        position: relative;
        background: #e2e2e2;
        width: 250px;
        line-height: 30px;
        height: 30px;
        text-align: center;
        z-index: 2;
        font-weight: 600;
        color: #222;
        cursor: pointer;
        transition: all 300ms ease-in-out;
        font-size: var(--small-font-size);
    }
    .tabs__header > div:hover {
        background-color: rgba(25, 131, 230, 0.2);
        color: var(--first-color-alt);
    }

    .tabs__header > div.active {
        background-color: rgba(25, 131, 230, 0.2);
        color: var(--first-color-alt);
    }

    .tabs__indicator {
        position: absolute;
        width: 95px;
        height: 40px;
        border-radius: 10px;
        background-color: #d9e5f9;
        top: 0;
        transition: all 300ms ease-in-out;
    }

    .tabs__body {
        position: relative;
        width: 100%;
    }

    .tabs__body select {
        width: 200px;
        padding: .5em 1em;
        border: none;
        border-radius: .2em;
        outline: none;
        font-size: var(--small-font-size);
        /** box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);*/
        border-right: 16px solid transparent;
        border-bottom: 1px solid silver;
        cursor: pointer;
        border: 1px solid #cfcfcf;
    }

    .tabs__body > div {
        display: none;
        opacity: 0;
        padding: 1em 0;
        transition: opacity 300ms ease-in-out;
    }

        .tabs__body > div.active {
            display: block;
            opacity: 1;
        }



/*
main {
    padding-top: var(--header-height);
}*/





















#card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 20px;
    margin-top: 1em;
}

    #card-container .card {
        -webkit-box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
        box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
        background-color: #fff;
    }


    #card-container .card__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /*background-image: radial-gradient(circle at 77% 43%, rgba(168, 168, 168,0.04) 0%, rgba(168, 168, 168,0.04) 50%,rgba(10, 10, 10,0.04) 50%, rgba(10, 10, 10,0.04) 100%),radial-gradient(circle at 33% 65%, rgba(248, 248, 248,0.04) 0%, rgba(248, 248, 248,0.04) 50%,rgba(228, 228, 228,0.04) 50%, rgba(228, 228, 228,0.04) 100%),radial-gradient(circle at 92% 79%, rgba(152, 152, 152,0.04) 0%, rgba(152, 152, 152,0.04) 50%,rgba(28, 28, 28,0.04) 50%, rgba(28, 28, 28,0.04) 100%),radial-gradient(circle at 91% 13%, rgba(41, 41, 41,0.04) 0%, rgba(41, 41, 41,0.04) 50%,rgba(214, 214, 214,0.04) 50%, rgba(214, 214, 214,0.04) 100%),linear-gradient(90deg, rgb(90,65,255),rgb(109,100,234));*/
        padding: 1.2rem;
        color: #fff;
        border-radius: .3em .3em 0 0;
    }

        #card-container .card__header h3 {
            margin: 0;
            font-weight: 600;
            font-size: 1.1rem;
            color: #fff;
        }

        #card-container .card__header span {
            color: rgba(255, 255, 255,0.7);
            font-size: .9rem;
        }

    #card-container .card__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em 1.2rem .5em;
    }

    #card-container .card__smallinfo {
        display: flex;
        align-items: center;
    }

    #card-container .card__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5em 1.2rem 1em;
    }

        #card-container .card__footer #selectionbtn {
            border: 2px solid #5a41ff;
            padding: .5em 1em;
            font-family: 'Poppins',sans-serif;
            background-color: #fff;
            border-radius: .3em;
            color: #5a41ff;
            font-weight: 600;
            cursor: pointer;
            font-size: .8rem;
            transition: all .5s ease-in-out;
        }

            #card-container .card__footer #selectionbtn:hover {
                background-color: #5a41ff;
                color: #fff;
            }




/*##### LOADING CSS #########*/
/* HTML: <div class="loader"></div> */
#loadcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.loader {
    width: 100px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-color: #ccc #0000;
    animation: l16 1s infinite linear;
    margin-bottom: 2em;
}

    .loader::before,
    .loader::after {
        content: "";
        grid-area: 1/1;
        margin: 2px;
        border: inherit;
        border-radius: 50%;
    }

    .loader::before {
        border-color: #5a41ff #0000;
        animation: inherit;
        animation-duration: .5s;
        animation-direction: reverse;
    }

    .loader::after {
        margin: 8px;
    }

@keyframes l16 {
    100% {
        transform: rotate(1turn)
    }
}

.card {
    cursor: pointer;
    transition: all .5s ease;
}

    .card:hover {
        transform: scale(1.01);
    }


    .card a {
        background: var(--clr-neon-primary);
        color: #fff;
        transition: .5s all;
    }

        .card a:hover {
            background: #3e25db;
            color: #fff;
        }


.radio-group {
    display: flex;
    align-items: center;
    gap: 1em;
}
























@media screen and (max-width: 987px) {
    .Scan {
        display: grid;
        grid-template-columns: 100%;
    }

    #card-container {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
}


@media screen and (max-width: 670px) {
    .Scan_barcode {
        display: none;
    }

    #card-container {
        grid-template-columns: 100%;
    }

    #btnSave {
        width: 100%;
    }
}














/* Hide default radio button */
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

    /* Default unselected state */
    input[type="radio"]:not(:checked) {
        background-color: #fff;
    }

/* Checked state */
/*input[type="radio"]:checked {
        background-color: #4CAF50;*/ /* Green */
/*border-color: #4CAF50;
    }*/

.checkonline:checked {
    /*        background-color: #4CAF50;*/
    border-color: #4CAF50;
}

.checkoffline:checked {
    border-color: #f84f4f;
}


/* Add hover effect */
input[type="radio"]:hover {
    border-color: #666;
}



.invalid-line, .invalid-Time {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; /* Initially hidden */
}




.loadingdata {
    position: relative;
}

    .loadingdata .bar {
        background-color: #E7E7E7;
        height: 14px;
        border-radius: 7px;
        width: 80%;
    }


    .loadingdata::after {
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 24px;
        background-image: linear-gradient( 100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80% );
        background-size: 200px 24px;
        background-position: -100px 0;
        background-repeat: no-repeat;
        animation: loading 1s infinite;
    }


@keyframes loading {
    40% {
        background-position: 100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}




.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}



/*===== HEADER =====*/
.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1.5rem;
    background-color: var(--dark-color);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #fff;
}


.header__toggle {
    font-size: 1.5rem;
    color: #fff;
    cursor: pointer;
}


/*===== NAV =====*/
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--dark-color);
        color: #fff;
        width: 100%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: 100;
        -webkit-transition: .5s;
        transition: .5s;
    }
}

.nav__content {
    height: 100%;
    /*    -ms-grid-rows: max-content 1fr max-content;*/
    grid-template-rows: max-content 1fr -webkit-max-content;
    grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
}

.nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.3rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
}

.nav__img {
    display: flex;
    justify-content: center;
    padding-top: .25rem;
    margin-bottom: .8rem;
    width: 56px;
    height: 56px;
    background-color: var(--first-color);
    border-radius: 50%;
    overflow: hidden;
}

    .nav__img img {
        width: 46px;
    }

.nav__name {
    display: block;
    color: #fff;
}


.nav__profesion {
    font-size: var(--small-font-size);
}


.nav__menu {
    -ms-flex-item-align: center;
    align-self: center;
}

.nav__item {
    margin: 2.5rem 0;
}

.nav__link {
    color: #fff;
}

.nav__social {
    padding-top: .5rem;
}

.nav__social-icon {
    font-size: 1.2rem;
    color: #fff;
    margin-right: 1rem;
}

    .nav__social-icon:hover {
        color: var(--first-color);
    }


/*Aparecer menu*/
.show {
    left: 0;
}

/*Active menu*/
/*.active {
    color: var(--first-color);
}*/
















/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .header__logo, .header__toggle {
        display: none;
    }

    .nav {
        width: 100%;
    }

    .nav__content {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 1rem;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .nav__close, .nav__profesion {
        display: none;
    }

    .nav__perfil {
        display: flex;
        align-items: center;
    }

    .nav__img {
        width: 32px;
        height: 32px;
        margin-right: .5rem;
        margin-bottom: 0;
        align-items: center;
    }

        .nav__img img {
            width: 26px;
        }

    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .nav__item {
        margin: 0 .25rem;
    }


    .nav__link {
        padding: .5rem .8rem;
        border-radius: .25rem;
    }

        .nav__link:hover {
            background-color: var(--first-color);
        }
}
/*.active {
    background-color: var(--first-color);
    color: var(--white-color);
}*/

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}
















.nav-link span, #logID span {
    font-size: var(--small-font-size);
}


    .nav-link.active {
        background: var(--primary-color);
        font-weight: 500;
        color: #fff !important;
    }




    #sidebar {
        box-sizing: border-box;
        height: 100vh;
        width: 220px;
        padding: 5px 1em;
        /*background-color: var(--dark-color);*/
        background-image: linear-gradient(17deg, rgba(41, 41, 41, 0.02) 0%, rgba(41, 41, 41, 0.02) 48%,rgba(10, 10, 10, 0.02) 48%, rgba(10, 10, 10, 0.02) 59%,rgba(164, 164, 164, 0.02) 59%, rgba(164, 164, 164, 0.02) 73%,rgba(79, 79, 79, 0.02) 73%, rgba(79, 79, 79, 0.02) 93%,rgba(42, 42, 42, 0.02) 93%, rgba(42, 42, 42, 0.02) 100%),linear-gradient(42deg, rgba(124, 124, 124, 0.02) 0%, rgba(124, 124, 124, 0.02) 15%,rgba(116, 116, 116, 0.02) 15%, rgba(116, 116, 116, 0.02) 23%,rgba(41, 41, 41, 0.02) 23%, rgba(41, 41, 41, 0.02) 44%,rgba(196, 196, 196, 0.02) 44%, rgba(196, 196, 196, 0.02) 54%,rgba(145, 145, 145, 0.02) 54%, rgba(145, 145, 145, 0.02) 100%),linear-gradient(151deg, rgba(85, 85, 85, 0.02) 0%, rgba(85, 85, 85, 0.02) 12%,rgba(72, 72, 72, 0.02) 12%, rgba(72, 72, 72, 0.02) 28%,rgba(156, 156, 156, 0.02) 28%, rgba(156, 156, 156, 0.02) 33%,rgba(230, 230, 230, 0.02) 33%, rgba(230, 230, 230, 0.02) 50%,rgba(13, 13, 13, 0.02) 50%, rgba(13, 13, 13, 0.02) 100%),linear-gradient(76deg, rgba(25, 25, 25, 0.02) 0%, rgba(25, 25, 25, 0.02) 9%,rgba(183, 183, 183, 0.02) 9%, rgba(183, 183, 183, 0.02) 32%,rgba(19, 19, 19, 0.02) 32%, rgba(19, 19, 19, 0.02) 86%,rgba(129, 129, 129, 0.02) 86%, rgba(129, 129, 129, 0.02) 88%,rgba(174, 174, 174, 0.02) 88%, rgba(174, 174, 174, 0.02) 100%),linear-gradient(90deg, rgb(32,36,49),rgb(7,13,31));
        background-position: center;
        background-size: cover;
        border-right: 1px solid var(--line-clr);
        position: sticky;
        top: 0;
        align-self: start;
        transition: 300ms ease-in-out;
        overflow: hidden;
        white-space: nowrap;
        z-index: 99;
        color: #707490;
    }


    #sidebar.close {
        padding: 10px;
        width: 70px;
    }

    #sidebar li button i {
        transition: all .3s ease;
    }

    #sidebar.close li a span {
        visibility: hidden;
    }


    #sidebar.close li button i {
        transform: rotate(360deg);
    }


    #sidebar.close li {
        margin-left: 4px;
    }


    #sidebar li a span {
        transition: all .3s ease;
    }



    #sidebar > ul > li:first-child {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;
    }

    #sidebar > ul > li:first-child .logo {
        font-weight: 600;
    }

    #sidebar ul li.active a {
        color: var(--clr-neon-primary);
    }

    #sidebar ul li.active a i {
        fill: var(--clr-neon-primary);
        background: red;
    }

    #sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
        border-radius: .5em;
        padding: .85em;
        text-decoration: none;
        color: var(--clr-secondary);
        display: flex;
        align-items: center;
        gap: 1em;
    }




    .dropdown-btn {
        width: 100%;
        text-align: left;
        background: none;
        border: none;
        font: inherit;
        cursor: pointer;
    }

    main {
        position: relative;
        padding: min(30px, 7%);
    }

    main p {
        color: var(--secondary-text-clr);
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .wrapcontainer {
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 1em;
        margin-bottom: 20px;
        padding: min(3em, 15%);
    }

    .wrapcontainer h2, p {
        margin-top: 1em;
    }

    #sidebar i {
        flex-shrink: 0;
        fill: var(--dark-color-alt);
    }


    #sidebar a span, #sidebar .dropdown-btn span {
        flex-grow: 1;
    }



#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--primary-color);
    color: #fff;
}

#sidebar .sub-menu {
    /* overflow: hidden;
    height: 0px; */
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
}

.sub-menu > div {
    overflow: hidden;
}


#sidebar .sub-menu a {
    padding-left: 2em;
}

#sidebar .sub-menu.show {
    /* height: auto; */
    grid-template-rows: 1fr;
}

.dropdown-btn i {
    transition: 200ms ease;
}

.rotate i:last-child {
    transform: rotate(180deg);
}

#sidebar i:last-child {
    transform: rotate(180deg);
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    color: var(--clr-secondary);
}

    #toggle-btn i {
        /*    transition: rotate 150ms ease;*/
    }

    #toggle-btn:hover {
        background-color: var(--clr-neon-primary);
    }


@media (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    main {
        padding: 2em 1em 60px 1em;
    }

    .wrapcontainer {
        border: none;
        padding: 0;
    }

    #sidebar {
        height: 60px;
        width: 100%;
        border-top: 1px solid var(--line-clr);
        padding: 0;
        position: fixed;
        top: unset;
        bottom: 0;
    }

        #sidebar > ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow-x: scroll;
        }

        #sidebar ul li {
            height: 100%;
        }

        #sidebar ul a, ul .dropdown-btn {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        #sidebar ul li span, ul li:first-child, .dropdown-btn i:last-child {
            display: none;
        }

        #sidebar ul li .sub-menu.show {
            position: fixed;
            bottom: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: #4CAF50;
            border-top: 1px solid #0000;
            display: flex;
            justify-content: center;
        }

            #sidebar ul li .sub-menu.show > div {
                overflow-x: auto;
            }

            #sidebar ul li .sub-menu.show li {
                display: inline-flex;
            }

            #sidebar ul li .sub-menu.show a {
                box-sizing: border-box;
                padding: 1em;
                width: auto;
                justify-content: center;
            }
}






/*===== SERIES DATA MANAGEMENT DESIGN =====*/
.Serieswrapper {
    /* width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5rem;*/
}

.SeriesInfo {
    padding: 1rem;
}

    .SeriesInfo strong {
        font-weight: 600;
        font-size: var(--small-font-size);
    }


.SeriesTitle button {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--clr-neon-primary);
    padding: .5em 1em;
    border-radius: 5px;
    color: #fff;
    transition: .5s ease-in-out;
}

    .SeriesTitle button i {
        font-size: 1.2rem;
    }

    .SeriesTitle button:hover {
        background: #3e25db;
    }

.SeriesFilter select {
    background: #fff;
    border: 1px solid rgba(40, 37, 37, 0.7);
    padding: .3em 1em;
    border-radius: .2em;
    transition: .5s all ease-in-out;
    outline: none;
}


footer {
    width: 100%;
    /*position: absolute;
    bottom: 0;
    left: 0;
    padding: 1.5rem;*/
}

#footerTable button {
    background: #fff;
    border: 1px solid rgba(40, 37, 37, 0.7);
    padding: .1em 1.5em;
    border-radius: .5em;
    transition: .5s all ease-in-out;
}

    #footerTable button:hover {
        background: var(--clr-secondary);
    }

@media (max-width: 800px) {
    .Seriestablewrapper {
        width: 100%;
        max-height: none;
    }


    .SeriesTable th {
        display: none;
    }

    .SeriesTable td {
        display: grid;
        gap: .5rem;
        grid-template-columns: 15ch auto;
        padding: 0.5rem 1rem;
    }

        .SeriesTable td:first-child {
            padding-top: 2rem;
        }

        .SeriesTable td:last-child {
            padding-bottom: 2rem;
        }

        .SeriesTable td::before {
            content: attr(data-cell) ": ";
            font-weight: 700;
            text-transform: capitalize;
        }
}

.Seriestablewrapper {
    width: 100%;
    /**max-height: 65vh;
    overflow-y: scroll;*/
}


    .SeriesTable {
        width: 100%;
        font-size: var(--normal-font-size);
        border-collapse: collapse;
        border: 1px solid rgba(40, 43, 58, 0.3);
    }

    .SeriesTable caption, td {
        border: none;
        font-size: 0.938rem;
        text-align: center;
        padding: .8em 1em;
        border-bottom: 1px solid rgba(40, 43, 58, 0.2);
        white-space: nowrap;
        color: #222;
        cursor: pointer;
    }

    .SeriesTable tbody tr:hover {
        background: hsl(0, 0%, 93%);
    }

    .SeriesTable  tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .SeriesTable th {
        background:  hsl(210, 29%, 9%);
        color: #fff;
        font-weight: 400;
        padding: .8em 0;
        font-size: var(--small-font-size);
        text-align: center;
    }



   


.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 10px;
    color: #222;
}

    .pagination button {
        width: 35px;
        height: 35px;
        border-radius: .2em;
        transition: background all ease-in-out;
    }

        .pagination button.active {
            background-color: var(--primary-color);
            color: white;
        }


        .pagination button:hover {
            background: var(--clr-neon-primary);
            color: #fff;
        }

        .pagination button:first-child, button i:last-child {
            font-weight: 800;
        }



.Emptytablewrapper {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #f5f5f5;
    margin-top: .5em;
    border: 1px solid rgba(65, 68, 82, 0.3);
}

    .Emptytablewrapper span {
        font-weight: 700;
    }

    .Emptytablewrapper button {
        padding: .5em 1.5em;
        background: var(--clr-neon-primary);
        color: #fff;
    }


.Online, .Offline, .Complete, .Incomplete {
    font-weight: 600;
    padding: .5em .8em;
    border-radius: .2rem;
    font-size: .8rem;
}

.Offline, .Incomplete {
    background-color: rgba(170, 24, 14, 0.2);
    color: rgb(100, 9, 9);
}

.Online, .Complete {
    background-color: rgba(14, 170, 123, 0.2);
    color: rgb(9, 100, 73);
}

#requestaction {
    width: 100%;
    margin-top: 1em;
}

#exportbtn, #addComp {
    padding: .5em 1em;
    background: var(--clr-neon-primary);
    color: #fff;
    border-radius: .2em;
    transition: .5s ease-in-out;
}

    #exportbtn:hover, #addComp:hover {
        background: #3e25db;
    }

#camera video {
    width: 100%;
    max-width: 640px;
}
















#my_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}

#my_inner {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size: 2rem;
    text-align: center;
}

#my_quagga {
    width: 320px;
    height: 240px;
    margin: 5px;
    padding: 0px;
    position: relative;
    background-color: silver;
}

    #my_quagga video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    #my_quagga canvas {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
    }

#my_result {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
}

#my_barcode {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;
}



.MainTable table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: 0.9em;
    text-align: center;
}

.MainTable table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

    .MainTable table th {
        background: hsl(210, 29%, 9%);
        color: #fff;
        cursor: pointer;
        padding: 1em;
        font-size: .8rem;
        font-weight: 400;
    }

    .MainTable  table td {
        border-bottom: 1px solid #ccc;
        cursor: pointer;
        padding: 1em;
    }

    .MainTable table tbody tr:hover {
        background: #e5e5e6;
    }





.SearchInputbox, .SearchPartbox{
    background: #f5f5f5;
    padding: .6em 1.2em;
}












    .paginationPartlocal {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: #222;
    }

    .paginationPartlocal button {
        width: 35px;
        height: 35px;
        border-radius: .2em;
        transition: background all ease-in-out;
    }

    .paginationPartlocal button.active {
        background-color: var(--first-color);
        color: white;
    }


       

    .paginationPartlocal button:first-child:hover {
         background: var(--clr-secondary);
         color: #222;
    }
    .paginationPartlocal button:last-child:hover {
         background: var(--clr-secondary);
         color: #222;
    }

    .paginationPartlocal button:first-child, button i:last-child {
         font-weight: 800;
    }



.upload-container {
    border: 2px dashed #bbb;
    border-radius: 5px;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s;
}

    .upload-container.dragover {
        border-color: #333;
    }



#SearchInputbox{

} 