<div class="sidebar">
    <h2><i>📄</i><span id="regtext"></span></h2>
    <ul class="step-list">
        <li class="step-item active" data-step="1">
            <span class="step-number">1</span>
            Create new
        </li>
        <li class="step-item" data-step="2">
            <span class="step-number">2</span>
            Process Owner
        </li>

        <li class="step-item" data-step="3">
            <span class="step-number">3</span>
            Managers
        </li>

        <li class="step-item" data-step="4">
            <span class="step-number">4</span>
            Division Manager
        </li>
        <li class="step-item" data-step="5">
            <span class="step-number">5</span>
            Completed
        </li>
    </ul>
</div>
